body{
font-family: 'Noto Sans TC', sans-serif;
min-width:1260px;	
margin:0 auto;	
overflow-y: hidden;

}

td{
	vertical-align: middle !important;
}

.front_title{
	display: flex;
    font-size: 35px;
    font-weight: 600;
    align-items: center;
    position: absolute;  
    z-index: 100;
}

.front{
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;

}

.login_submit{
	width:100%;
	margin-top:20px;
}

.front label{
	font-size:18px;
}

.head{
	position:relative;
}

.head::after{
	content: "";
    height: 20px;
    background-color: #5C776F;
    width: 6px;
    position: absolute;
    top: 3px;
    left: -12px;
}

.front_img{
	    background-image: url(../image/background1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 520px;
    height: 100%;
    position: absolute;
	min-height: 700px;
}

.front_title_text{
	    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 44px;
    width: 344px;
    font-weight: 600;
    color: #4c2707;
    letter-spacing: 5px;
}

.login_area{
	background-color: #ebe9e3;
    padding: 100px calc((100vw - 520px)/4);
    position: absolute;
    height: 100%;
    left: 520px;
    width: calc(100vw - 520px);
    min-height: 700px;

}

.captcha{
	width:210px;
	height:31.6px;
}

#captcha1{
	width: 160px;
    height: 60px;
	cursor:pointer;
	margin-left: 10px;
}

.input_row{
	margin:25px;
    width: 380px;
}

.ol-layer,.ol-viewport{
	overflow-y:hidden;
}

#main_page{
	position: relative;
	box-shadow: 0px 0px 10px grey;
	height:calc(100vh - 95px);
	padding: 0px 8px;
	background-color:#f9f9f9;
	
}

.align-middle{
height:55px;
}

.main_scroll{
	overflow-y: auto;
}

.main_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
	
}

.main_scroll::-webkit-scrollbar
{
	width: 16px;
	background-color: #F5F5F5;
	
}

.main_scroll::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

thead{
	background-color: rgba(116,100,42,1);
    color: white;
}

.main_content{
	position: absolute;
    left: 278px;
    width: calc(100% - 290px);
	top: 0px;
}

.main_result{
	height:calc(100vh - 110px);
	display: flex;
    flex-wrap: wrap;
}

.between_icon{
	margin:0px 10px;
}

.function_bt{
	display:flex;
	position: relative;
    top: 13px;
}

.function_bt div{
	position:relative;
	cursor:pointer;
	margin:5px 20px;
	color:white;
	height: 22px;
}

.function_bt div:before{
	content: "";
    position: absolute;
	width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
	transform: scaleX(0);
    background-color: #E9FEBC;	
	transition: all 0.4s ease; 
	
}

.function_bt div.line_bottom1:before{
	content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
	transform: scaleX(1);
    background-color: #E9FEBC;
	transition: all 0.4s ease;  
}

.line_bottom1{
	color: #E9FEBC;
	
}

.function_bt div.line_bottom2:before{
	content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
	transform: scaleX(1);
    background-color: #E9FEBC;
	transition: all 0.4s ease;  
}

.function_bt div.line_bottom2{
	color: #E9FEBC;
	
}

.banner{
	background-color:#405A40;
	height:60px;
	position:sticky;
	left: 0;
    top: 0;
	display:flex;

}

.logo{
	display:flex;
	position:relative;
	margin-right:60px;
}

.logo_text{
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	color:white;
}

.logo_t1{
	font-size:13px;
    position: relative;
    top: 7px;
}

.logo_t2{
    position: relative;
    top: -1px;
	font-size: 19px;
}

.user_name img{
	margin: 10px;
    position: relative;
    top: 5px;
}

.user_name{
	    display: flex;
    position: absolute;
    right: 110px;
}

#account_name{
	margin-top: 18px;
	color:white;
}

#login_bt{
	    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.sidebar{
	width:260px;
	background-color:white;
	height:fit-content;
	
}


.nav-tabs{
	width:100%;
}

.search_type > .nav-tabs > .nav-item{
	width:50%;
}

.search_type > .nav-tabs > .nav-item2{
	width:15%;
}

.search_sub1{
	margin-bottom:10px;
	position:relative;
}

.search_sub1 > .nav-tabs > .nav-item{
	width:50%;

}

.search_sub2{
	margin-bottom:10px;
	position:relative;
}

.search_sub2 > .nav-tabs > .nav-item{
	width:33.3%;
}

.nav-link{
	text-align: center;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}

.main_tab:not(.active){
	display:none;
}

.tab-pane:not(.active){
	display:none;
}

.form-row{
	display:flex;
	margin:5px 10px;
	width: 92%;
}

.form-row label{
	margin: 5px;
    margin-right: 10px;
    width: 24%;
    text-align: left;
    font-size: 0.8rem;
	
}

.search_select{
	width:70%;
	display: flex;
	align-items: center;
    justify-content: start;
	font-size: 0.5rem;
}

.form-select,.form-control {
	font-size:0.6rem;
}

.search_submit{
	width: 100px;
    height: 30px;
    padding: 0px;
    margin: 10px 2px;
}

.search_join{
	position: absolute;
    top: 12px;
    left: 5px;
}

.search_type .nav-link{
	padding: 5px;
}

.search_sub1 .nav-link{
	padding: 5px;
}

.search_sub2 .nav-link{
	padding: 5px;
}

.search_type .nav-link.active{
	background-color:#74642A;
	color:white;
}



.search_sub2 .nav-link:not(.active):hover{
	background-color:#E9FEBC;
	cursor: pointer;

}

.search_type .nav-link:not(.active):hover{
	cursor: pointer;
	background-color:#E9FEBC;
	
}

.search_sub1 .nav-link:not(.active):hover{
	background-color:#E9FEBC;
	cursor: pointer;

}


.icon_hide{
	display:none;
}

.nav_indicate{
	display: flex;
    margin: 10px;
    font-size: 0.8rem;
}

.main_map{
	width:100%;
	height:calc(100vh - 140px);
	transition: all 0.2s ease-out;  
}

.small_map{
	height:60% !important;
	transition: all 0.2s ease-out;  
}

.main_detail{
	display:none;
}

#mmap{
	width:100%;
	height:calc(100% - 10px);
	position: relative;
    top: 8px;
	
}

.change_map_EMAP,.change_map_PHOTO,.measure_map{
	cursor:pointer;
	background-color:orange;
}

.base_map{
	right: .5em;
    top: 3em;
}

.button_tool_Line{
	right: .5em;
    top: 5.5em;
	 padding: 2px 2px 0px 2px;
	 border-radius: 4px 4px 0px 0px;
}

.button_tool_Polygon{
	right: .5em;
    top: 7.35em;
    padding: 0px 2px 0.5px 2px;
    border-radius: 0px;
}

.button_tool_Clear{
	right: .5em;
    top: 9.1em;
	padding: 0px 2px 2px 2px;
	border-radius: 0px 0px 4px 4px;
}



.ol-tooltip{
	color:white;
	position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}

.ol-tooltip-static{
	background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
	border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}


.custom_set_title{
	margin-bottom:10px;
}

.custom_set_content{
	text-align: start;
    margin-left: 20px;
	font-size:0.8rem;
	margin-bottom:20px;
}

.breadcrumb{
	background-color:#e9febc80;
	margin: 0;
}

.tab_body{
	height:calc(100vh - 132px);
}

.tab_body_content{
	display:none;
	width:100%;
}

.tab_body_content.active{
	display:grid;
}

.content_row{
	margin: 10px 20px;
	background-color:white;
	padding: 20px;
	border-radius: 10px;
}

.content_row_search{
	margin: 10px 20px;
	background-color:white;
	padding: 10px;
	border-radius: 10px;
}

.content_row_data{
	margin: 10px 20px;
	background-color:white;
	padding: 20px;
	border-radius: 10px;
}

.result_list{
	overflow-y: scroll;
    height:calc(100% - 70px);
}

.content_row_47{
	margin: 10px 20px;
	background-color:white;
	padding: 20px;
	border-radius: 10px;
	width: 50%;
}

.row_text{
	margin: 10px 10px 20px 10px;
	font-size: 22px;
	position:relative;
}

.row_text::after{
	content: "";
    height: 20px;
    background-color: #5C776F;
    width: 6px;
    position: absolute;
    top: 6px;
    left: -12px;
}

.row_flex{
	display:flex;
}

.row_justify{
	justify-content: space-between;
}

.margin_r_5{
	margin-right:5px
}

.new_ver{
	margin: 15px;
	align-self: flex-end;
}

.new_ver_flex{
	display: inline-flex;
    align-items: baseline;
	margin: 5px;
	max-width: 96%;
	min-width: 96%;
}

.new_ver_4{
	margin: 8px;
	align-self: flex-end;
}

.custom_bt0{
	width: 150px;
    margin-left: 25px;
}

.custom_bt1{
	width: 120px;
    margin-left: 25px;
}

.custom_bt2{
	margin: 10px;
    height: 35px;
}

.upload_result_owner_table{
	display:none;
}

.sub_tab{
	display:flex;
}

.nav-item3{
	margin: 5px;
    cursor: pointer;
    background-color: #abc8ab;
    padding: 10px;
	font-size: 18px;
    color: white;
    border-radius: 10px;
    width: 200px;
    text-align: center;
	display: flex;
}

.nav-item3.active{
	margin: 5px;
    cursor: pointer;
    background-color: #008000;
    padding: 10px;
	font-size: 18px;
    color: white;
    border-radius: 10px;
    width: 200px;
    text-align: center;
	display: flex;
}

#city_list{
	display:none;
}

.sub_tab{
	align-items: center;
}

.sub_tab i{
	font-size: 26px;
    color: #deb887;
}

.num_icon{
	width: 25px;
	height: 25px;
    border-radius: 15px;
    background-color: #57a682;
	margin-right: 24px;
    margin-left: 18px;
}

.spinner_mask {
	background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.manage_page{
	display:flex;
}

.search_div{
	width: 27%;
}

.detail_data{
	width: 72%;
    height: calc(100vh - 135px);
    overflow-y: auto;
}

#te_tab1_list tr td:first-child{
	width:115px;
}


#te_tab2_list tr td:first-child{
	width:115px;
}

.te_tab_list tr{
	cursor:pointer;
}

.te_tab_list tr.active{
	background-color:#E9FEBC;
}

.manage_bt{
	position:relative;
}

.normal_state{
	
}

.edit_state{
	display:none;
}

.manage_delete{
	position: absolute;
    right: 2%; 
}

.file_list{
	
}

.file_list_item{
	font-size:16px;
	margin:10px;
	height:38px;
	display: flex;
	align-items: center;
	
}

.file_list_item_delete{
	margin-left:20px;
	display:none;
}

/* //未送審 */
.state_type1{
    background-color: yellow;
}

/* //已送審 */
.state_type2{
	background-color: orange;
}

/* //已完成 */
.state_type3{
	background-color: green;
    color: white;
}



#te_data_basic_file{
	display:none;
}

.list_height{
	height:500px;
}