<!-- 頁面區 -->
<div class="content_row csp-style-15">
	<div class="sub_tab ca_manage_insert AllCenter">
		<div class="nav-item3 tab1 active csp-style-16" data-csp-onclick="ca_insert_step1();">
			<div class="num_icon">1</div>
			<span>範圍圖及地籍清冊</span>
		</div>
		<i class="fas fa-arrow-circle-right"></i>
		<div class="nav-item3 tab2 csp-style-16" data-csp-onclick="ca_insert_step2();">
			<div class="num_icon">2</div>
			<span>相關文件</span>
		</div>
    </div>
</div>
<!-- 圖資異動步驟 -->
<div id="ca_step">

</div>
<!-- 圖資異動步驟 -->

<!-- 頁面區 -->
<script src="./js/csp-inline/views_2f_ca_5f_manage_5f_insert_1.js"></script>