<!-- 頁面區 -->
<div class="manage_page csp-style-17">
	<div class="content_row_search csp-style-18">
		<div class="csp-style-19">
			<div id="mmap"></div>
		</div>
	</div>
	<div class="csp-style-20">
		<div class="search_type ca_sub_insert">
			<ul class="nav nav-tabs">
				<li class="nav-item9 tab1 showlast">
					<span class="nav-link AllCenter active csp-style-21">
						<input type="checkbox" data-csp-onchange="ca_insert_step1_lastcheckshow(this);" checked  class="csp-style-22" />
						前次檢訂
					</span>
				</li>
				<li id="nowcheck" class="nav-item9 tab2 shownow AllCenter">
					<span class="nav-link AllCenter csp-style-21">
						<input type="checkbox" data-csp-onchange="ca_insert_step1_nowcheckshow(this);" checked  class="csp-style-22" />
						本次檢訂
					</span>
				</li>
			</ul>
		</div>
		<div id="ca_sub_insert_tab1" class="content_row_search showlast" >
			<div class="row_text">前次檢訂範圍</div>
			<div class="row">
				<div class="col AllCenter">
					<div class="detail_rows_name">檢訂年度</div>
					<div id="last_year" class="detail_rows_value"></div>
				</div>
				<div class="col AllRight">
					<button type="button" class="btn btn-success csp-style-23" data-csp-onclick="ca_insert_step1_DownloadLastSHP();">下載範圍</button>
				</div>
			</div>
			<hr />
			<div class="row_text">
				地籍清冊
				<div id="last_count" class="ca_count"></div>
				<button type="button" class="btn btn-secondary csp-style-24" data-csp-onclick="ca_insert_step1_ExportLastCSV();">匯出CSV</button>
				<button type="button" class="btn btn-secondary csp-style-25" data-csp-onclick="ca_insert_step1_ExportLastSHP();">匯出SHP</button>
			</div>
			<div class="row_text">
				<span>清冊屬性</span>
				<select id="ca_insert_step1_cselect" class="form-select" data-csp-onchange="ca_insert_step1_cselect_change();">
					<option value="-1" selected>不限</option>
					<option value="整筆">整筆</option>
					<option value="之內">之內</option>
				</select>
				<span class="csp-style-26">關鍵字</span>
				<input type="input" id="ca_insert_step1_cinput" class="form-control" data-csp-onchange="ca_insert_step1_cinput_change();" />
			</div>
			<div id="ca_insert_step1_tab1nofile">
				查無資料
			</div>
			<div id="ca_insert_step1_tab1hasfile" class="main_scroll_mini_5 csp-style-27">
				<table class="table_c fc_tab_list2 headernonehover csp-style-28" id="ca_insert_step1_tab1list">
					<thead class="thead_fix">
						<tr>
							<th>地籍狀態</th>
							<th>清冊屬性</th>
							<th>面積比例</th>
							<th>縣市</th>
							<th>鄉鎮</th>
							<th>地段</th>
							<th>母號</th>
							<th>子號</th>
							<th>使用分區</th>
							<th>使用類別</th>
							<th>登記面積</th>
							<th>更新時間</th>
							<th>權別</th>
							<th>管理單位</th>
							<th>地籍編碼</th>
							<th>API</th>
						</tr>
					</thead>
					<tbody id="ca_insert_step1_tab1tbody" class="ztbody">
					</tbody>
				</table>
			</div>
		</div>
		<div id="ca_sub_insert_tab2" class="content_row_search shownow csp-style-12">
			<div class="row_text">本次檢訂範圍</div>
			<div class="row">
				<div class="col AllCenter">
					<div class="detail_rows_name">檢訂年度</div>
					<div id="now_year" class="detail_rows_value"></div>
				</div>
				<div class="col AllRight">
					<button type="button" class="btn btn-success ca_insert_step1_tab2hasfile csp-style-29" data-csp-onclick="ca_insert_step1_DownloadLastSHP2();">下載範圍</button>
					<button type="button" class="btn btn-success canedit singleadd csp-style-29" data-csp-onclick="ca_insert_step1_tab2_uploadfile();">重新上傳</button>
					<button type="button" class="btn btn-warning canedit singleadd csp-style-29" data-csp-onclick="ca_insert_step1_tab2_clear();">清除</button>
				</div>
			</div>
			<div class="ca_insert_step1_tab2nofile">
				尚無資料，請先上傳本次檢訂範圍圖。
				<button type="button" class="btn btn-success canedit" data-csp-onclick="ca_insert_step1_tab2_uploadfile();">上傳檔案</button>
			</div>
			<hr />
			<div class="row_text">
				地籍清冊
				<div id="now_count" class="ca_count"></div>
				<button type="button" class="btn btn-success canedit singleadd csp-style-30" data-csp-onclick="ca_insert_step1_tab2_AddNewProject();">單筆新增</button>
				<button type="button" class="btn btn-secondary ca_insert_step1_tab2hasfile csp-style-31" data-csp-onclick="ca_insert_step1_ExportTargetCSV();">匯出CSV</button>
				<button id="dropdownExport" type="button" class="btn btn-secondary ca_insert_step1_tab2hasfile csp-style-32" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-csp-onclick="ca_insert_step1_DropList();">匯出SHP</button>
				<div id="dropdownExport_ul" class="dropdown-menu dropdown-menu-customwidth" aria-labelledby="dropdownExport">
					<a class="dropdown-item ttab1" href="#" data-csp-onclick="ca_insert_step1_ExportTargetSHP();">原始範圍</a>
					<a class="dropdown-item ttab2" href="#" data-csp-onclick="ca_insert_step1_ExportTargetSHP(true);">往外100公尺</a>
				</div>
			</div>
			<div class="row_text ca_insert_step1_tab2hasfile csp-style-12">
				<span>清冊屬性</span>
				<select id="ca_insert_step2_cselect" class="form-select" data-csp-onchange="ca_insert_step2_cselect_change();">
					<option value="-1" selected>不限</option>
					<option value="整筆">整筆</option>
					<option value="之內">之內</option>
					<option value="排除">排除</option>
				</select>
				<span class="csp-style-26">關鍵字</span>
				<input type="input" id="ca_insert_step2_cinput" class="form-control" data-csp-onchange="ca_insert_step2_cinput_change();" />
			</div>
			<div class="ca_insert_step1_tab2nofile">
				尚無資料，請先上傳本次檢訂地籍清冊。
				<a href="地籍查詢清單.xlsx" id="sample_download" class="csp-style-12"></a>
				<button type="button" class="btn btn-success canedit" data-csp-onclick="tab5_sample();">下載範本</button>
				<button type="button" class="btn btn-success canedit" data-csp-onclick="ca_manage_insert_step1_upload_xls();">上傳檔案</button>
				<input id="upload_xls" class="form-control csp-style-12" type="file" accept=".xls,.xlsx" data-csp-onchange="ca_manage_insert_step1_upload_xls_toDB();" />
			</div>
			<hr />
			<div id="ca_insert_step1_tab2hasfile" class="main_scroll_mini_5 csp-style-27">
				<table class="table_c fc_tab_list2 headernonehover csp-style-28" id="ca_insert_step1_tab2list">
					<thead class="thead_fix">
						<tr>
							<th>地籍狀態</th>
							<th>清冊屬性</th>
							<th>面積比例</th>
							<th>縣市</th>
							<th>鄉鎮</th>
							<th>地段</th>
							<th>母號</th>
							<th>子號</th>
							<th>使用分區</th>
							<th>使用類別</th>
							<th>登記面積</th>
							<th>更新時間</th>
							<th>權別</th>
							<th>管理單位</th>
							<th>地籍編碼</th>
							<th>API</th>
						</tr>
					</thead>
					<tbody id="ca_insert_step1_tab2tbody" class="ztbody">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="./js/csp-inline/views_2f_ca_5f_manage_5f_insert_5f_step1_1.js"></script>