<!-- 頁面區 -->
<div class="manage_page">
	<div class="search_div">
		<div class="content_row_search csp-style-68">
			<div class="row_text">查詢條件</div>
			<div class="search_type ce_search_tab2">
				<ul class="nav nav-tabs">
					<li class="nav-item7 tab1">
						<span class="nav-link active">地籍資訊</span>
					</li>
					<li class="nav-item7 tab2">
						<span class="nav-link">事業區資訊</span>
					</li>
				</ul>
			</div>
			<div class="csp-style-69">
				<div id="ce_search_tab2_1">
					<div class="new_ver_flex">
						<div>
							<label for="search_date" class="form-label csp-style-43">釐整日期</label>
						</div>
						<input id="search_date_start1" class="form-control form-custom-select" type="text" placeholder="yyyy/mm/dd" autocomplete="off" />
						至
						<input id="search_date_end1" class="form-control form-custom-select" type="text" placeholder="yyyy/mm/dd" autocomplete="off" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_county" class="form-label csp-style-43">縣市</label>
						</div>
						<select id="search_county" class="form-select" data-csp-onchange="ce_search_tab2_get_TownList();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_town" class="form-label csp-style-43">鄉鎮</label>
						</div>
						<select id="search_town" class="form-select" data-csp-onchange="ce_search_tab2_get_LandList();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_sec" class="form-label csp-style-43">地段</label>
						</div>
						<select id="search_sec" class="form-select">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_land_no" class="form-label csp-style-43">地號</label>
						</div>
						<div class="search_land_no">
							<input class="form-control " id="search_number1" /><span class="csp-style-4">-</span>
							<input class="form-control " id="search_number2" />
						</div>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_land_code" class="form-label csp-style-43">地籍編碼</label>
						</div>
						<input class="form-control " id="search_land_code" />
					</div>
					<div class="new_ver csp-style-3">
						<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="ce_search_list_gosearch_1();">查詢</button>
						<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="ce_search_list_reset_1()">重置</button>
					</div>
				</div>
				<div id="ce_search_tab2_2" class="csp-style-12">
					<div class="new_ver_flex">
						<div>
							<label for="search_date" class="form-label csp-style-43">釐整日期</label>
						</div>
						<input id="search_date_start2" class="form-control form-custom-select" type="text" placeholder="yyyy/mm/dd" autocomplete="off" />
						至
						<input id="search_date_end2" class="form-control form-custom-select" type="text" placeholder="yyyy/mm/dd" autocomplete="off" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_dist" class="form-label csp-style-43">管理單位</label>
						</div>
						<select id="search_dist" class="form-select" data-csp-onchange="ce_search_tab2_dist_change();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_wkng" class="form-label csp-style-43">事業區</label>
						</div>
						<select id="search_wkng" class="form-select" data-csp-onchange="ce_search_tab2_wkng_change();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_cmpt" class="form-label csp-style-43">林班</label>
						</div>
						<select id="search_cmpt" class="form-select">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver csp-style-3">
						<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="ce_search_list_gosearch_2();">查詢</button>
						<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="ce_search_list_reset_2()">重置</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="query_1" class="detail_data main_scroll csp-style-12">
		<div class="content_row_data csp-style-68" id="basic_data">
			<div class="row_text">查詢結果</div>
			<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="ce_searchlist_export();">匯出</button>
			<div id="sys_user_page">
				<div class="main_scroll_mini_4 row_table_zone csp-style-70">
					<table id="search_page" class="csp-style-71">
						<thead>
							<tr>
								<td>釐整日期</td>
								<td>釐整人員</td>
								<td>縣市</td>
								<td>鄉鎮市區</td>
								<td>地段</td>
								<td>地號</td>
								<td>地籍編碼</td>
								<td>釐整前林區管理處</td>
								<td>釐整前事業區</td>
								<td>釐整前林班</td>
								<td>釐整後林區管理處</td>
								<td>釐整後事業區</td>
								<td>釐整後林班</td>
							</tr>
						</thead>
						<tbody id="ce_search_result">

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 頁面區 -->
<script src="./js/csp-inline/views_2f_ce_5f_manage_5f_tab2_1.js"></script>
