<div class="side_area">
	<div class="sidebar">
	<!-- 搜尋區塊 -->
	<div class="search">
    <div class="search_type">
	<ul class="nav nav-tabs">
			  <li class="nav-item">
				<span class="nav-link search_a active">統計查詢</span>
			  </li>
			  <li class="nav-item">
				<span class="nav-link search_b">地籍查詢</span>
			  </li>
		</ul>
	</div>
	<div class="main_tab search_a active">
		<div class="search_sub1">
		<ul class="nav nav-tabs">
			  <li class="nav-item">
				<span class="nav-link search_a_a active">快速查詢</span>
			  </li>
			  <li class="nav-item">
				<span class="nav-link search_a_b">組合查詢</span>
			  </li>
		</ul>
		</div>
		<form id="search_sub1_form" class="csp-style-2">
		<div class="search_sub1_content">
		<div class="tab-pane search_a_a active">
		<div class="form-row">
			<label for="search_own">土地權屬</label>
			<div class="search_select">
			  <select class="form-select" id="search_own">
				  <option selected>不指定</option>
				  <option value="1">國有</option>
				  <option value="2">私有</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_gov">管理機關</label>
			<div class="search_select">
			  <select class="form-select" id="search_gov">
				  <option selected>不指定</option>
				  <option value="1">國產署</option>
				  <option value="2">林務局</option>

			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_usezone">使用分區</label>
			<div class="search_select">
			  <select class="form-select" id="search_usezone">
				  <option selected>不指定</option>
				  <option value="1">農牧用地</option>

			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_usekind">使用類別</label>
			<div class="search_select">
			  <select class="form-select" id="search_usekind">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_fland">林地</label>
			<div class="search_select">
			  <select class="form-select" id="search_fland">
				  <option selected>不指定</option>
				  <option value="1">屬於林地</option>
				  <option value="2">不屬於林地</option>
			  </select>
			</div>
		  </div>
		</div>


		<div class="tab-pane search_a_b">

		<div class="form-row">
			<label for="search_custom">組合名稱</label>
			<div class="search_select">
			  <select class="form-select" id="search_custom">
				  <option selected>全國林地範圍</option>
				  <option value="1">東勢處轄管林地範圍</option>
				  <option value="2">實驗林用地比例</option>

			  </select>
			</div>
		  </div>
		  <hr class="csp-style-1">
		  <div class="custom_set">
		     <div class="custom_set_title">參數內容</div>
			 <div class="custom_set_content">
			  <div>資料欄位1 = 林地</div>
			  <div>資料欄位2 > 林地</div>
			  <div>資料欄位3 < 林地</div>
			 </div>
		  </div>

		</div>
		</div>
		</form>
		<div class="csp-style-3">
		<button type="submit" class="btn btn-success search_submit">查詢</button>
		<button type="reset" class="btn btn-success search_submit">重置</button>
		</div>
		<!-- </form> -->
	</div>

	<div class="main_tab search_b">
	<div class="search_sub2">
		<ul class="nav nav-tabs">
			  <li class="nav-item">
			    <input type="checkbox" class="search_join" checked>
				<span class="nav-link search_b_a active">地籍</span>
			  </li>
			  <li class="nav-item">
				<span class="nav-link search_b_b">事業區</span>
			  </li>
			  <li class="nav-item">
				<span class="nav-link search_b_c">保安林</span>
			  </li>
		</ul>
		</div>
		<form id="search_sub2_form" class="csp-style-2">
		<div class="search_sub2_content">
		<div class="tab-pane search_b_a active">

		<div class="form-row">
			<label for="search_city">縣市</label>
			<div class="search_select">
			  <select class="form-select" id="search_city">
				  <option selected>不指定</option>
				  <option value="1">台北市</option>
				  <option value="2">新北市</option>
				  <option value="3">台中市</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">鄉鎮</label>
			<div class="search_select">
			  <select class="form-select" id="search_town">
				  <option selected>不指定</option>
				  <option value="1">內湖區</option>
				  <option value="2">南港區</option>
				  <option value="3">大安區</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">地段</label>
			<div class="search_select">
			  <select class="form-select" id="search_sect">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">地號</label>
			<div class="search_select">
			  <input class="form-control " id="search_number1"><span class="csp-style-4">-</span>
			  <input class="form-control " id="search_number2">
			</div>
		  </div>
		</div>
		<div class="tab-pane search_b_b">

		<div class="form-row">
			<label for="search_city">林管處</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area1">
				  <option selected>不指定</option>
				  <option value="1">新竹</option>
				  <option value="2">東勢</option>
				  <option value="3">南投</option>
				  <option value="3">嘉義</option>
				  <option value="3">屏東</option>
				  <option value="3">台東</option>
				  <option value="3">花蓮</option>
				  <option value="3">羅東</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">事業區</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area2">
				  <option selected>不指定</option>
				  <option value="1">內湖區</option>
				  <option value="2">南港區</option>
				  <option value="3">大安區</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">林區</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area3">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">林班</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area4">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		</div>
		<div class="tab-pane search_b_c">

		<div class="form-row">
			<label for="search_city">林管處</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area1">
				  <option selected>不指定</option>
				  <option value="1">新竹</option>
				  <option value="2">東勢</option>
				  <option value="3">南投</option>
				  <option value="3">嘉義</option>
				  <option value="3">屏東</option>
				  <option value="3">台東</option>
				  <option value="3">花蓮</option>
				  <option value="3">羅東</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">工作站</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area2">
				  <option selected>不指定</option>
				  <option value="1"></option>
				  <option value="2"></option>
				  <option value="3"></option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">保安林</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area3">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">林班</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area4">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		</div>

		</div>
		</form>
		<div class="csp-style-3">
		<button type="submit" class="btn btn-success search_submit search_b_bt">查詢</button>
		<button type="reset" class="btn btn-success search_submit search_b_reset_bt">重置</button>
		</div>
		<!-- </form> -->
	</div>
	</div>
	<!-- 搜尋區塊 -->

	<div class="result_list">
		<div class="result_title">
		<span>查詢結果</span>
		<div class="list_up"><i class="fas fa-angle-up"></i><i class="fas fa-angle-down icon_hide"></i></div>
		</div>
		<div class="result_list_content">
		<div class="demo">
			<div class="result_item">台北市 內湖區 洲子段 0022-0001</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0002</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0003</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0004</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0005</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0006</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0007</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0008</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0009</div>
			<div class="result_item">台北市 內湖區 洲子段 0022-0010</div>
		</div>
		</div>
		<div class="result_list_sum">
			共<span id="result_list_sum">0</span>筆
		</div>
	</div>

	</div>
	<div class="navigator"></div>
	<div class="map_area"></div>
	<div class="detail_area"></div>
	</div>

	<!-- 標題列 -->
	<div class="main_content">

	<!-- 右側主視窗 -->
	<div class="main_result">
	<!-- 地圖 -->
	<div class="main_map">
	  <div id="mmap"></div>

	</div>
	<!-- 地圖 -->
	<!-- 詳細資料 -->
	<div class="main_detail">
	<div>地籍詳細內容</div>
	<div></div>
	</div>
	<!-- 詳細資料 -->
	</div>
	<!-- 右側主視窗 -->
	</div>
