<!-- 功能頁面區 -->
	<div>
    <div class="search_type cs_manage">	
	<ul class="nav nav-tabs">
			  <li class="nav-item2 tab1">
				<span class="nav-link active">林地查詢</span>
			  </li>
			  <li class="nav-item2 tab2">
				<span class="nav-link">地籍查詢</span>
			  </li>	
              <li class="nav-item2 tab3">
				<span class="nav-link">地圖檢視</span>
			  </li>				  
		</ul>
	</div>
	<div class="tab_body main_scroll">
	<div class="tab_body_content tab1 active">	
		<form id="search_sub1_form" style="text-align: center;">		
		<div class="search_sub1_content">		
		<div class="tab-pane search_a_a active">	
		<div class="form-row">
			<label for="search_own">土地權屬</label>
			<div class="search_select">
			  <select class="form-select" id="search_own">
				  <option selected>不指定</option>
				  <option value="1">國有</option>
				  <option value="2">私有</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_gov">管理機關</label>
			<div class="search_select">
			  <select class="form-select" id="search_gov">
				  <option selected>不指定</option>
				  <option value="1">國產署</option>
				  <option value="2">林務局</option>

			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_usezone">使用分區</label>
			<div class="search_select">
			  <select class="form-select" id="search_usezone">
				  <option selected>不指定</option>
				  <option value="1">農牧用地</option>
				 
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_usekind">使用類別</label>
			<div class="search_select">
			  <select class="form-select" id="search_usekind">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_fland">林地</label>
			<div class="search_select">
			  <select class="form-select" id="search_fland">
				  <option selected>不指定</option>
				  <option value="1">屬於林地</option>
				  <option value="2">不屬於林地</option>
			  </select>
			</div>
		  </div>
		</div>

		
		<div class="tab-pane search_a_b">
		
		<div class="form-row">
			<label for="search_custom">組合名稱</label>
			<div class="search_select">
			  <select class="form-select" id="search_custom">
				  <option selected>全國林地範圍</option>
				  <option value="1">東勢處轄管林地範圍</option>
				  <option value="2">實驗林用地比例</option>
				  
			  </select>
			</div>
		  </div>
		  <hr style=" margin: 10px;">
		  <div class="custom_set">
		     <div class="custom_set_title">參數內容</div>
			 <div class="custom_set_content">
			  <div>資料欄位1 = 林地</div>
			  <div>資料欄位2 > 林地</div>
			  <div>資料欄位3 < 林地</div>
			 </div>
		  </div>
		  	 
		</div>					
		</div>
		</form>
		<div style="text-align:center;">
		<button type="submit" class="btn btn-success search_submit">查詢</button>
		<button type="reset" class="btn btn-success search_submit">重置</button>
		</div>
		<!-- </form> -->
	</div>
	
	<div class="tab_body_content tab2">

		<form id="search_sub2_form" style="text-align: center;">
		<div class="search_sub2_content">		
		<div class="tab-pane search_b_a active">

		<div class="form-row">
			<label for="search_city">縣市</label>
			<div class="search_select">
			  <select class="form-select" id="search_city">
				  <option selected>不指定</option>
				  <option value="1">台北市</option>
				  <option value="2">新北市</option>
				  <option value="3">台中市</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">鄉鎮</label>
			<div class="search_select">
			  <select class="form-select" id="search_town">
				  <option selected>不指定</option>
				  <option value="1">內湖區</option>
				  <option value="2">南港區</option>
				  <option value="3">大安區</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">地段</label>
			<div class="search_select">
			  <select class="form-select" id="search_sect">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">地號</label>
			<div class="search_select">
			  <input class="form-control " id="search_number1"><span style="margin: 4px;">-</span>
			  <input class="form-control " id="search_number2">  
			</div>
		  </div>
		</div>
		<div class="tab-pane search_b_b">
		
		<div class="form-row">
			<label for="search_city">林管處</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area1">
				  <option selected>不指定</option>
				  <option value="1">新竹</option>
				  <option value="2">東勢</option>
				  <option value="3">南投</option>
				  <option value="3">嘉義</option>
				  <option value="3">屏東</option>
				  <option value="3">台東</option>
				  <option value="3">花蓮</option>
				  <option value="3">羅東</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">事業區</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area2">
				  <option selected>不指定</option>
				  <option value="1">內湖區</option>
				  <option value="2">南港區</option>
				  <option value="3">大安區</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">林區</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area3">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">林班</label>
			<div class="search_select">
			  <select class="form-select" id="search_f1_area4">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		</div>
		<div class="tab-pane search_b_c">
		
		<div class="form-row">
			<label for="search_city">林管處</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area1">
				  <option selected>不指定</option>
				  <option value="1">新竹</option>
				  <option value="2">東勢</option>
				  <option value="3">南投</option>
				  <option value="3">嘉義</option>
				  <option value="3">屏東</option>
				  <option value="3">台東</option>
				  <option value="3">花蓮</option>
				  <option value="3">羅東</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">工作站</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area2">
				  <option selected>不指定</option>
				  <option value="1"></option>
				  <option value="2"></option>
				  <option value="3"></option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">保安林</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area3">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		  <div class="form-row">
			<label for="search_city">林班</label>
			<div class="search_select">
			  <select class="form-select" id="search_f2_area4">
				  <option selected>不指定</option>
				  <option value="1">One</option>
				  <option value="2">Two</option>
				  <option value="3">Three</option>
			  </select>
			</div>
		  </div>
		</div>
		
		</div>
		</form>
		<div style="text-align:center;">
		<button type="submit" class="btn btn-success search_submit search_b_bt">查詢</button>
		<button type="reset" class="btn btn-success search_submit search_b_reset_bt">重置</button>
		</div>
		<!-- </form> -->
	
	</div>
	
	
	<div class="tab_body_content tab3">
	<!-- 地圖 -->
	<div class="main_map">
	  <div id="mmap"></div>
	  	  
	</div>

	</div>
	
	</div>	
	<!-- 功能頁面區 -->	
	<script>
	   tab("cs_manage");
	        
    </script>

