<div class="manage_page flex">
	<div class="cs1_search_bar">	
		<div class="flex">
			<div class="search_div">
				<div class="content_row_search cs main_scroll_mini_4" style="min-height: 600px;">
					<div class="row_text">屬性篩選</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_year" class="form-label" style="width: 110px;">年度</label>
						</div>
						<select id="search_year" class="form-select">
							<option value="-1">請選擇</option>
							<option value="109">109</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_county" class="form-label" style="width: 110px;">縣市</label>
						</div>
						<select id="search_county" class="form-select" onchange="cs_manage_getTown();">
							<option value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_town" class="form-label" style="width: 110px;">鄉鎮</label>
						</div>
						<select id="search_town" class="form-select">
							<option value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_dep" class="form-label" style="width: 110px;">管理機關</label>
						</div>
						<select id="search_dep" class="form-select">
							<option value="-1">請選擇</option>
							<option value="中興大學">中興大學實驗林</option>
							<option value="宜蘭大學">宜蘭大學實驗林</option>
							<option value="屏東科技大學">屏東科技大學實驗林</option>
							<option value="嘉義大學">嘉義大學實驗林</option>
							<option value="臺灣大學">臺灣大學實驗林</option>
							<option value="林務局">林務局</option>
							<option value="林業試驗所">林業試驗所</option>
							<option value="原住民族事務委員會">原住民族事務委員會</option>
							<option value="國有財產署">國有財產署</option>
							<option value="其他">其他</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_dist" class="form-label" style="width: 110px;">管理分署</label>
						</div>
						<select id="search_dist" class="form-select" onchange="cs_manage_getWorkShop();">
							<option value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_workshop" class="form-label" style="width: 110px;">工作站</label>
						</div>
						<select id="search_workshop" class="form-select">
							<option value="-1">請選擇</option>
						</select>
					</div>
					<div class="row_text">統計條件</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_class" class="form-label" style="width: 110px;">所有權類別</label>
						</div>
						<select id="search_class" class="form-select" multiple="multiple">
							<option value="私有">私有林地</option>
							<option value="國有">國有林地</option>
							<option value="公有">公有林地</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_option" class="form-label" style="width: 110px;">林業管理項目</label>
						</div>
						<select id="search_option" class="form-select" multiple="multiple">
							<option value="1">國有林事業區</option>
							<option value="2">保安林</option>
							<option value="3">森林遊樂區</option>
							<option value="4">實驗林</option>
						</select>
					</div>
					<div class="row_text">圖表呈現</div>
					<div class="new_ver_flex">
						<input id="sys_custom_theme_chart" class="form-check-input" type="radio" name="chart" value="0" checked />
						<label style="margin: 5px 5px 0px 5px;" for="sys_custom_theme_chart">圓餅圖</label>
						<input id="sys_custom_theme_bar" class="form-check-input" type="radio" name="chart" value="1" />
						<label style="margin: 5px 5px 0px 5px;" for="sys_custom_theme_bar">長條圖</label>
					</div>
				</div>
			</div>
		</div>
		<div class="cs_search content_row_search">
			<div class="new_ver" style="text-align:center;position: relative;top: -25px;">
			<button type="button" class="btn btn-success search_submit custom_bt2" onclick="cs_manage_search_1();">查詢</button>
			<button type="button" class="btn btn-warning search_submit custom_bt2" onclick="cs_manage_clearsearch_1();">重置</button>
			</div>
		</div>
	</div>
	<div class="cs_result">
		<div class="content_row_result">
			<div class="fc_map_detail" style="max-height: 400px;">
				<div id="mmap" style="width: 100%; height: calc(100% - 10px); position: relative; top: 8px;"></div>
			</div>
		</div>
		<div class="fc_detail_zone flex">
			<div class="fc_fc_detail" style="margin-right:10px">
				<div id="cs_main_data" class="main_scroll_mini_4">
				</div>
			</div>
			<div class="fc_fc_detail" style="margin-right:10px">
				<div id="cs_chart_data" class="main_scroll_mini_4">
					<input id="changechart" type="button" value="切換所有權類別" onclick="cs_chart_change();" />
					<label id="chartshowing">私有林地</label>
					<div id="fcchart" class="fc_map_detail" style="max-height: 300px;">
						<div id="fc_chart_detail1">
						</div>
						<div id="fc_chart_detail2">
						</div>
						<div id="fc_chart_detail5">
						</div>
					</div>
					<div id="barchart" class="fc_map_detail" style="max-height: 300px;">
						<div id="fc_chart_detail3">
						</div>
						<div id="fc_chart_detail4">
						</div>
						<div id="fc_chart_detail6">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	cs_manage_init();
</script>