<!-- 功能頁面區 -->
<div>
    <div class="search_type dw_manage">
		<div class="scroller scroller-left float-left"><i class="fa fa-chevron-left"></i></div>
		<div class="scroller scroller-right float-right"><i class="fa fa-chevron-right"></i></div>
		<div class="wrapper">
			<ul class="nav nav-tabs navlist">
				<li class="nav-item2 tab1">
					<span class="nav-link">常用圖資</span>
				</li>
				<li class="nav-item2 tab2">
					<span class="nav-link">公告檔案</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- //功能頁面切換	 -->
	<div class="tab_body main_scroll">
		<div class="tab_body_content tab1">

		</div>

		<div class="tab_body_content tab2">

		</div>
	</div>
</div>

<script src="./js/csp-inline/views_2f_dw_5f_manage_1.js"></script>