<!-- 圖資管理頁面 -->
<div>
	<!-- 圖層列表 -->
	<div id="dw_manage_tab1_page">
		<div class="row_text2">全國地籍圖資</div>
		<div id="dw_manage_select_zone">
			地籍版本:
			<select id="show_version" class="form-select form-custom-select" style="margin-right:10px;" onchange="dw_manage_tab1_get_list();">
				<option value="-1" selected>請選擇版本</option>
			</select>
		</div>
		<div class="main_scroll_mini_4" style="max-height: calc(100vh - 186px - 20px);overflow-y: auto ;position: relative;">
		<table class="table_c fc_tab_list2" id="sys_custom_theme_list" >
			<thead style="position: sticky;top: 0;">
				<tr>
					<th>代碼</th>
					<th>縣市</th>
					<th>版本</th>
					<th>說明</th>
					<th>下載</th>
				</tr>
			</thead>
			<tbody id="dw_manage_tab1_list" class="ztbody"></tbody>
		</table>
		</div>
	</div>
</div>

<script>
	dw_manage_tab1_init();
</script>