<!-- 圖資管理頁面 -->
<div>
	<!-- 圖層列表 -->
	<div id="dw_manage_tab1_page">
		<div class="row_text2">全國地籍圖資</div>
		<div id="dw_manage_select_zone">
			地籍版本:
			<select id="show_version" class="form-select form-custom-select csp-style-22" data-csp-onchange="dw_manage_tab1_get_list();">
				<option value="-1" selected>請選擇版本</option>
			</select>
		</div>
		<div class="main_scroll_mini_4 csp-style-84">
		<table class="table_c fc_tab_list2" id="sys_custom_theme_list" >
			<thead class="csp-style-48">
				<tr>
					<th>代碼</th>
					<th>縣市</th>
					<th>版本</th>
					<th>說明</th>
					<th>下載</th>
				</tr>
			</thead>
			<tbody id="dw_manage_tab1_list" class="ztbody"></tbody>
		</table>
		</div>
	</div>
</div>

<script src="./js/csp-inline/views_2f_dw_5f_manage_5f_tab1_1.js"></script>