<!-- 圖資管理頁面 -->
<div>
	<!-- 圖層列表 -->
	<div id="dw_manage_tab1_page">
		<div class="row_text2">檔案列表</div>
		<div class="main_scroll_mini_4" style="max-height: calc(100vh - 186px - 20px);overflow-y: auto ;position: relative;">
		<table class="table_c fc_tab_list2" id="sys_custom_theme_list" >
			<thead style="position: sticky;top: 0;">
				<tr>
					<th>類型</th>
					<th>名稱</th>
					<th>說明</th>
					<th>日期</th>
					<th>下載</th>
				</tr>
			</thead>
			<tbody id="dw_manage_tab2_list" class="ztbody"></tbody>
		</table>
		</div>
	</div>
</div>

<script>
	dw_manage_tab2_init();
</script>