<!-- 頁面區 -->
   <div class="content_row">
	<div class="sub_tab">
			  <div class="nav-item3 tab1 active">
			   <div class="num_icon">1</div>
				<span>基本設定</span>
			  </div>
			  <i class="fas fa-arrow-circle-right"></i>
			  <div class="nav-item3 tab2">
			   <div class="num_icon">2</div>
				<span>上傳預覽</span>
			  </div>		  
			  <i class="fas fa-arrow-circle-right"></i>
			  <div class="nav-item3 tab3">
			   <div class="num_icon">3</div>
				<span>檢核結果</span>
			  </div>						  
   </div>
   </div>
    <!-- 所有權上傳步驟 -->
    <div class="upload_step tab4">
		
		
	</div>
	 <!-- 所有權上傳步驟 -->	
<!-- 頁面區 -->
	<script>

    </script>
	