<!-- 上傳預覽子功能頁面區 -->
	
	<!-- to do 匯入檔案解析結果,先不寫入資料庫 -->
	<div>
		<div class="content_row" style="position: relative;">
			<div class="spinner_mask text-center">
				<div class="spinner-border text-success" style="width: 3rem; height: 3rem; margin-top: 70px;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="row_text">解析結果</div>
			<div class="row_flex">
				<div class="new_ver" style="width: 100%;">
					<table  class="table table-striped " id="upload_city_list">
						<thead>
							<tr>
								<th style="border-radius:10px 0 0 0;width:25%;">縣市</th>
								<th style="width:25%;">新版資料筆數</th>
								<th style="width:25%;">舊版資料筆數</th>			
								<th style="border-radius: 0 10px 0 0 ;width:25%;">解析花費時間</th>
							</tr>
						</thead>
						<tbody id="upload_city_result">

						</tbody>
					</table>
				</div>				
			</div>
		</div>	
		<div style="height:5px;"></div>
		<div class="content_row" style="position: relative;">
			<div class="spinner_mask text-center">
				<div class="spinner-border text-success" style="width: 3rem; height: 3rem; margin-top: 70px;" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="row_text">差異比對結果</div>
			<div class="row_flex">
				<div class="new_ver" style="width: 100%;">  
					<table  class="table table-striped " id="file_list">
						<thead>
							<tr>
								<th style="border-radius:10px 0 0 0;width:10%;">序號</th>
								<th style="width:20%;">地籍編碼</th>
								<th style="width:15%;">鄉鎮</th>
								<th style="width:20%;">地段</th>
								<th style="width:15%;">面積</th>
								<th style="width:12%;">比對情形</th>		
								<th style="border-radius: 0 10px 0 0 ;width:8%;">管理</th>
							</tr>
						</thead>
						<tbody id="compare_city_result">
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</div>

	
	
		

	<!-- 上傳預覽子功能頁面區 -->
	<script>
	
    </script>
	