<!-- 上傳結果子功能頁面區 -->
	<div class="row_flex row_justify">
		<div class="content_row_47">
		<div class="row_text">匯入版次</div>
		<div class="row_flex">
		<div class="new_ver">
		   <label for="ver_year" class="form-label">年度</label>
		   <select id="ver_year1" class="form-select csp-style-37">
			  <option value="110" selected>110</option>
			</select>
		</div>

		<div class="new_ver">
		   <label for="ver_month1" class="form-label">月份</label>
		   <select id="ver_month1" class="form-select csp-style-37">
			  <option value="8" selected>8</option>
			</select>
		</div>

		<!-- <div class="new_ver"> -->
		<!-- <button type="button" class="btn btn-success custom_bt0" data-csp-onclick="city_result()">確認結果</button> -->
		<!-- </div> -->

		</div>

		</div>

		<div class="content_row_47">
		<div class="row_text">比較版次</div>
		<div class="row_flex">
		<div class="new_ver">
		   <label for="ver_year" class="form-label">年度</label>
		   <select id="ver_year2" class="form-select csp-style-37">
			  <option value="110" selected>110</option>
			</select>
		</div>

		<div class="new_ver">
		   <label for="ver_month2" class="form-label">月份</label>
		   <select id="ver_month2" class="form-select csp-style-37">
			  <option value="3" selected>3</option>
			</select>
		</div>

		</div>

		</div>

	</div>

	</div>

	</div>

	<!-- 上傳結果子功能頁面區 -->

