<!-- 頁面區 -->
	<div class="content_row">
	<div class="row_text">新增版次</div>
	<div class="row_flex">
	<div class="new_ver">
	   <label for="ver_year" class="form-label">年度</label>
	   <select id="ver_year0" class="form-select" style="width: 160px;">
		  <option selected>請選擇</option>
		  <option value="110">110</option>
		  <option value="111">111</option>
		  <option value="112">112</option>
		</select>
	</div>
	
	<div class="new_ver">
	   <label for="ver_month0" class="form-label">月份</label>
	   <select id="ver_month0" class="form-select" style="width: 160px;">
		  <option selected>請選擇</option>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
		  <option value="6">6</option>
		  <option value="7">7</option>
		  <option value="8">8</option>
		  <option value="9">9</option>
		  <option value="10">10</option>
		  <option value="11">11</option>
		  <option value="12">12</option>
		</select>
	</div>
	
	<div class="new_ver">
	<button type="button" class="btn btn-success custom_bt0" data-bs-toggle="modal" data-bs-target="#AddNewVersion">新增版次</button>
	</div>
	</div>
	
	
	</div>
	
	<!-- 新增版次Dialog -->
	<div class="modal fade" id="AddNewVersion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">新增版次</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			是否新增一個新的版次?
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary" onclick="AddNewVersion()">新增</button>
		  </div>
		</div>
	  </div>
	</div>
	
	<div class="content_row">
	<div class="row_text">版次列表</div>
	<table id="version_list" class="table table-striped table-hover">
	<thead>
	<tr>
		<th style="border-radius:10px 0 0 0;">序號</th>
		<th>年度</th>
		<th>月份</th>
		<th>建立時間</th>
		<th>空間縣市</th>
		<th>空間比對</th>
		<th>空間異動</th>
		<th>權屬比對</th>
		<th>權屬異動</th>
		<th>最後更新時間</th>
		<th>最後更新人員</th>
		<th style="border-radius: 0 10px 0 0 ;">管理</th>
	</tr>
	</thead>
	<tbody>
	</tbody>
	</table>
	</div>
	<!-- 刪除版次Dialog -->
	<div class="modal fade" id="DeleteVersion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">刪除版次</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
			是否刪除該版次?
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
			<button type="button" class="btn btn-primary" onclick="DeleteVersion()">刪除</button>
		  </div>
		</div>
	  </div>
	</div>
	<!-- 頁面區 -->
	<script>
		GetVersionList();
    </script>
	