<!-- 功能頁面區 -->
	<div>
    <div class="search_type fc_manage">	
	<ul class="nav nav-tabs">
			  <li class="nav-item2 tab1">
				<span class="nav-link active">資料總覽</span>
			  </li>
			  <li class="nav-item2 tab2">
				<span class="nav-link">版次管理</span>
			  </li>		  
			  <li class="nav-item2 tab3">
				<span class="nav-link">批次匯入（空間標示部）</span>
			  </li>		
			  <li class="nav-item2 tab4">
				<span class="nav-link">批次匯入（所有權部）</span>
			  </li>					  
		</ul>
	</div>
	
	<div class="tab_body main_scroll">
	<div class="tab_body_content tab1 active">
	我是資料總覽
	</div>
	
	<div class="tab_body_content tab2">

	</div>
	
	<div class="tab_body_content tab3">
	
	</div>
	
   <div class="tab_body_content tab4">

   </div>
</div>
</div>
	
				
	</div>
	<!-- 功能頁面區 -->
	
	<script>
	   tab("fc_manage");
       upload_result_owner();
    </script>
	