<!-- 上傳預覽子功能頁面區 -->

	<!-- to do 匯入檔案解析結果,先不寫入資料庫 -->
	<div>
		<div class="content_row csp-style-91">
			<div class="spinner_mask text-center">
				<div class="spinner-border text-success csp-style-92" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="row_text">解析結果</div>
			<div class="row_flex">
				<div class="new_ver csp-style-34">
					<table  class="table table-striped " id="upload_city_list">
						<thead>
							<tr>
								<th class="csp-style-93">縣市</th>
								<th class="csp-style-94">新版資料筆數</th>
								<th class="csp-style-94">舊版資料筆數</th>
								<th class="csp-style-95">解析花費時間</th>
							</tr>
						</thead>
						<tbody id="upload_city_result">

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="csp-style-96"></div>
		<div class="content_row csp-style-91">
			<div class="spinner_mask text-center">
				<div class="spinner-border text-success csp-style-92" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="row_text">差異比對結果</div>
			<div class="row_flex">
				<div class="new_ver csp-style-34">
					<table  class="table table-striped " id="file_list">
						<thead>
							<tr>
								<th class="csp-style-97">序號</th>
								<th class="csp-style-88">地籍編碼</th>
								<th class="csp-style-87">鄉鎮</th>
								<th class="csp-style-88">地段</th>
								<th class="csp-style-87">面積</th>
								<th class="csp-style-98">比對情形</th>
								<th class="csp-style-99">管理</th>
							</tr>
						</thead>
						<tbody id="compare_city_result">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>





	<!-- 上傳預覽子功能頁面區 -->

