<!-- 頁面區 -->
<div class="manage_page">
<div class="search_div">
	<div class="content_row_search">
	<div class="row_text">篩選條件</div>
			
		<div class="new_ver_flex">
		<div>
	   <label for="search_county" class="form-label" style="width: 110px;">縣市</label>
	   </div>
	   <select id="search_county" class="form-select" onchange="fc_tab1_getTownList();">
		  <option selected value="-1">請選擇</option>
		</select>
	</div>
	
	<div class="new_ver_flex">
	<div>
	   <label for="search_town" class="form-label" style="width: 110px;">鄉鎮</label>
	 </div>
	   <select id="search_town" class="form-select" onchange="fc_tab1_getLandList();">
		  <option selected value="-1">請選擇</option>
		</select>
	</div>
	
	<div class="new_ver_flex">
	<div>
	   <label for="search_sec" class="form-label"  style="width: 110px;">地段</label>
	    </div>
	   <select id="search_sec" class="form-select" >
	   <!-- [SEC_C]+'段 '+[SEC_C_SUB]+'小段' -->
		  <option selected value="-1">不指定</option>
		</select>
	</div>
	
	<div class="new_ver_flex">
	<div>
	   <label for="search_land_no"  style="width: 110px;">地號</label>
	   </div>
			<div class="search_land_no">
			  <input class="form-control " id="search_number1"><span style="margin: 4px;">-</span>
			  <input class="form-control " id="search_number2">  
			</div>
	</div>
	
	<div class="new_ver" style="text-align:center;">
		<button type="button" class="btn btn-success search_submit custom_bt2" onclick="fc_tab1_queryLandList();">查詢</button>
		<button type="button" class="btn btn-warning search_submit custom_bt2" onclick="fc_tab1_reset();">重置</button>
	</div>

	</div>

<div class="content_row_search" style="height: calc(100vh - 498px)">
	<div class="row_text">地籍列表</div>
	<div class="result_list main_scroll_mini">
	<!-- <異動列表資料> -->
	<table class="table fc_tab_list" id="fc_tab1_list">
    </table>
	<!-- <異動列表資料> -->
	</div>
</div>
</div>

<div class="fc_detail_data flex">
<div class="fc_partA main_scroll_mini">
<div class="fc_detail_data_map">
<!-- <圖資> -->
<div class="fc_map_detail">
<div id="mmap"></div>
<div id="big_window">
	<i class="fas fa-caret-square-down"></i>
</div>
</div>
<!-- <圖資> -->


</div>

<div class="flex" style="height:47%; margin-top: -10px;">
<!-- <地籍標示部> -->
<div class="fc_fc_detail" style="margin-right:10px">
<div class="row_text">標示部</div>
<div id="fc_main_data" class="main_scroll_mini_4">

</div>
</div>
<!-- <地籍標示部> -->

<!-- <地籍所有權部> -->
<div class="fc_fc_detail">
<div class="row_text">所有權部</div>
<div id="fc_owner_data" class="main_scroll_mini_4">

</div>
</div>
<!-- <地籍所有權部> -->
</div>
</div>

<div class="fc_partB">
	<div style="width:100%;height: calc(100% - 8px);">
	<!-- <功能區-權限判斷> -->
	<div class="fi_manage_area">
	   <div>
		 <button type="button" class="btn btn-secondary fi_button" onclick="fc_tab1_downloadshp();">下載</button>
		 <button type="button" class="btn btn-secondary fi_button" onclick="fc_tab1_api();">API</button>
	   </div>
	</div>
	<!-- <功能區-權限判斷> -->

	<!-- <細項> -->
	<div class="data_detail">
	<div class="row_text">關聯項目</div>
	<div id="relation_fi" class="main_scroll_mini">
		<!-- //塞入圖資基本資料 -->
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list1">
		<div>國有林事業區</div>
		<div class="fi_amount" id="type1_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
			<table class="table tab_content_table fc_tab1_associate" id="type1_list">
			  
			</table>
		</div>
		
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list2">
		<div>保安林</div>
		<div class="fi_amount" id="type2_amount">共0筆</div>
		
		</div>
		
		<div class="fi_tab_content">
		<table class="table tab_content_table fc_tab1_associate" id="type2_list">
			
		</table>

		</div>
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list3">
		<div>森林遊樂區</div>
		<div class="fi_amount" id="type3_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
		<table class="table  tab_content_table fc_tab1_associate" id="type3_list">

		</table>
		</div>
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list4">
		<div>實驗林</div>
		<div class="fi_amount" id="type4_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
		<table class="table  tab_content_table fc_tab1_associate" id="type4_list">

		</table>
		</div>
		</div>
	</div>
	</div>
	<!-- <細項> -->

	</div>

</div>
</div>


</div>	
<!-- 頁面區 -->
<script>
	fc_tab1_init();
	$(".fc_detail_data").hide();
</script>
	