<!-- 上傳基本設定功能頁面區 -->
		<div class="row_flex row_justify">
		<div class="content_row_47">
		<div class="row_text">匯入版次</div>
		<div class="row_flex">
		<div class="new_ver">
		   <label for="ver_year" class="form-label">年度</label>
		   <select id="ver_year3" class="form-select" style="width: 160px;">
			  <option value="110" selected>110</option>
			</select>
		</div>
		
		<div class="new_ver">
		   <label for="ver_month3" class="form-label">月份</label>
		   <select id="ver_month3" class="form-select" style="width: 160px;">
			  <option value="8" selected>8</option>
			</select>
		</div>

		</div>
			
		</div>
		
		<div class="content_row_47">
		<div class="row_text">比較版次</div>
		<div class="row_flex">
		<div class="new_ver">
		   <label for="ver_year" class="form-label">年度</label>
		   <select id="ver_year" class="form-select" style="width: 160px;">
			  <option value="110">110</option>
			</select>
		</div>
		
		<div class="new_ver">
		   <label for="ver_month4" class="form-label">月份</label>
		   <select id="ver_month4" class="form-select" style="width: 160px;">
			  <option value="3" selected>3</option>
			</select>
		</div>

		</div>
			
		</div>
		
	</div>
	<div class="content_row">
		<div class="row_text">選擇匯入檔案</div>
		<div class="row_flex">
		<div class="new_ver">
		   <label for="ver_owner" class="form-label">所有權部清冊資料</label>
		   <input type="file" accept=".csv,.xls,.xlsx" class="form-control" style="width: 800px;"/>
		</div>		
		<div class="new_ver">
		<button type="button" class="btn btn-success custom_bt1 upload_result_owner">上傳</button>
		<button type="button" class="btn btn-danger custom_bt1 reset_result_owner">清除結果</button>
		</div>
		
		</div>
	    </div>
		
	<div class="content_row upload_result_owner_table">
		<div class="row_text">上傳結果</div>
		<table  class="table table-striped ">
	<thead>
	<tr>
		<th style="border-radius:10px 0 0 0;">序號</th>
		<th>縣市</th>
		<th>鄉鎮市區</th>
		<th>段小段</th>
		<th>地號</th>
		<th>登記面積</th>
		<th>使分</th>
		<th>使分類</th>
		<th>登記序</th>
		<th>所有權人</th>
		<th>類別</th>
		<th>權利範圍</th>
		<th>分母</th>
		<th>分子</th>
		<th>管理者</th>
		<th style="border-radius: 0 10px 0 0 ;">管理</th>
	</tr>
	</thead>
	<tbody>
	<tr class="align-middle">
		<td>1</td>
		<td>台北市</td>
		<td>內湖區</td>
		<td>洲子段</td>
		<td>02020001</td>
		<td>24.0</td>		
		<td>商業區</td>
		<td></td>		
		<td>0001</td>		
		<td>中華民國</td>
		<td>國有</td>
		<td>全部</td>
		<td>1</td>
		<td>1</td>
		<td>林務局</td>
		<td><button type="button" class="btn btn-danger">刪除</button></td>
	</tr>
	<tr class="align-middle">
		<td>2</td>
		<td>台北市</td>
		<td>內湖區</td>
		<td>洲子段</td>
		<td>02020002</td>
		<td>25.0</td>		
		<td>商業區</td>
		<td></td>		
		<td>0001</td>		
		<td>中華民國</td>
		<td>國有</td>
		<td>全部</td>
		<td>1</td>
		<td>1</td>
		<td>林務局</td>
		<td><button type="button" class="btn btn-danger">刪除</button></td>
	</tr>
	<tr class="align-middle">
		<td>3</td>
		<td>台北市</td>
		<td>內湖區</td>
		<td>洲子段</td>
		<td>02020003</td>
		<td>12.0</td>		
		<td>商業區</td>
		<td></td>		
		<td>0001</td>		
		<td>中華民國</td>
		<td>國有</td>
		<td>全部</td>
		<td>1</td>
		<td>1</td>
		<td>林務局</td>
		<td><button type="button" class="btn btn-danger">刪除</button></td>
	</tr>
	</tbody>
	</table>
		</div>	
<!-- 上傳基本設定功能頁面區 -->
	<script>

    </script>
	