<!-- 頁面區 -->
<div class="content_row">
	<div class="sub_tab fc_manage_tab3">
			  <div class="nav-item3 tab1 active">
			    <div class="num_icon">1</div>
				<span>資料概況</span>
			  </div>
			  <i class="fas fa-arrow-circle-right"></i>
			  <div class="nav-item3 tab2">
			   <div class="num_icon">2</div>
				<span>比對解析</span>
			  </div>		
              <i class="fas fa-arrow-circle-right"></i>			  
			  <div class="nav-item3 tab3">
			   <div class="num_icon">3</div>
				<span>確認執行</span>
			  </div>						  
   </div>
   </div>
   <!-- 空間上傳步驟 -->
   <div class="upload_step tab3">

	
	 </div>
	  <!-- 空間上傳步驟 -->	
<!-- 頁面區 -->
<script>
     step_tab();
</script>
	