<!-- 功能頁面區 -->
<div>
    <div class="search_type fc_manage">
		<div class="scroller scroller-left float-left"><i class="fa fa-chevron-left"></i></div>
		<div class="scroller scroller-right float-right"><i class="fa fa-chevron-right"></i></div>
		<div class="wrapper">
			<ul class="nav nav-tabs navlist">
				<li class="nav-item2 tab2">
					<span class="nav-link">版次管理</span>
				</li>
				<li class="nav-item2 tab3">
					<span class="nav-link">批次匯入（空間標示部）</span>
				</li>
				<li class="nav-item2 tab4">
					<span class="nav-link">批次匯入（所有權部）</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="tab_body main_scroll">
		<div class="tab_body_content tab1">
		我是資料總覽
		</div>

		<div class="tab_body_content tab2 active">

		</div>

		<div class="tab_body_content tab3">

		</div>

	   <div class="tab_body_content tab4">

	   </div>
	</div>
</div>
<!-- 功能頁面區 -->

<script src="./js/csp-inline/views_2f_fc_5f_manage_1.js"></script>
