<!-- 頁面區 -->
<div class="manage_page">
	<div class="search_div">
		<div class="content_row_search manage_recreation map_cview csp-style-130">
			<div id="map_window">
				<i class="fas fa-caret-square-left"></i>
			</div>
			<div class="window_hide">
				查詢及結果
			</div>
			<div class="row_text map_flex">
				篩選條件
				<div id="list_window">
					<i class="fas fa-caret-square-down"></i>
				</div>
			</div>

			<div class="new_ver_flex map_flex">
				<div>
					<label for="upload_percent" class="form-label csp-style-43">重疊百分比</label>
				</div>
				<input class="form-control" id="upload_percent" type="number" placeholder="重疊百分比" value="1" min="1" max="100" data-csp-onchange="fi_tab6_percent_change();" />
			</div>

			<div class="new_ver_flex new_ver_flex2">
				<div>
					<label for="upload_range" class="form-label csp-style-43">上傳範圍</label>
				</div>
				<div>
					<label id="upload_data_label" class="upload_zone" for="upload_range">請上傳包含.shp、.dbf、.prj檔案格式</label>
					<input id="upload_shp" class="form-control upload_zone" type="file" multiple data-csp-onchange="FileListUpload();" accept=".shp,.prj,.dbf" />
				</div>
			</div>

			<div class="new_ver_flex map_flex upload_zone">
				<div>
					<label for="upload_percent" class="form-label csp-style-43"></label>
				</div>
				<div id="upload_shp_drag" class="AllCenter">
					或把檔案拖放到這裡
				</div>
			</div>

			<div class="new_ver_flex map_flex">
				<div>
					<label for="upload_name" class="form-label csp-style-43">上傳名稱</label>
				</div>
				<div id="upload_shp_file_list"></div>
			</div>

			<div class="new_ver new_ver_flex map_flex AllCenter csp-style-2">
				<button type="button" class="btn btn-success search_submit custom_bt2 upload_zone" data-csp-onclick="tab6_go_search();">查詢</button>
				<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="tab6_reset();">重置</button>
			</div>
		</div>
	</div>

<div class="fc_detail_data main_scroll_mini">
<div class="detail_data_map">
<!-- <圖資> -->
<div class="map_detail3">
<div id="mmap"></div>
<div id="big_window">
	<i class="fas fa-caret-square-down"></i>
</div>
</div>
</div>


<!-- <地籍> -->
<div class="fc_detail csp-style-91">
	<div class="row_text">關聯地籍列表<label id="fc_detail_count">（0 筆）</label></div>
	<button id="ddownload" type="button" class="btn btn-secondary fi_button csp-style-123" data-csp-onclick="fi_tab6_downloadCSV();">匯出CSV</button>
	<button id="ddownload2" type="button" class="btn btn-secondary fi_button csp-style-124" data-csp-onclick="fi_tab6_downloadSHP();">匯出SHP</button>
	<div id="fc_detail_list"></div>
</div>
<!-- <地籍> -->
</div>

<!-- <OWNER MODAL> -->
<div class="modal fade main_scroll" id="ownerdata" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="addnewte_modal" class="modal-title">所有權資訊</h5>
			</div>
			<div class="modal-body">
				<div class="search_type ownerdata_manager csp-style-115">
					<ul class="nav nav-tabs">
						<li class="nav-item8 tab1 csp-style-21">
							<span class="nav-link active">所有權最新資訊</span>
						</li>
						<li class="nav-item8 tab2 csp-style-21">
							<span class="nav-link">移轉歷程</span>
						</li>
					</ul>
				</div>
				<div id="owner_1" class="main_scroll_mini_4 csp-style-116">

				</div>
				<div id="owner_2" class="main_scroll_mini_4 csp-style-117">

				</div>
			</div>
			<div class="modal-footer csp-style-13">
				<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="fi_tab5_owner_close();">確認</button>
			</div>
		</div>
	</div>
</div>
<!-- <OWNER MODAL> -->
<!-- <DIFF MODAL> -->
<div class="modal fade main_scroll" id="differencenote" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="addnewte_modal" class="modal-title">批次比對結果</h5>
			</div>
			<div class="modal-body">
				<div class="row_text map_flex">
					比對成功
					<span id="diff_currect"></span>
				</div>
				<div class="row_text map_flex">
					比對失敗
					<span id="diff_error"></span>
				</div>
				<div class="main_scroll_mini main_scroll_mini2 csp-style-56">
					<table class="table_c csp-style-57">
						<thead class="thead_fix">
							<tr>
								<th>狀態</th>
								<th>縣市</th>
								<th>鄉鎮</th>
								<th>地段</th>
								<th>地號</th>
							</tr>
						</thead>
						<tbody id="fi_diff_body" class="ztbody">
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer csp-style-13">
				<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="fi_tab5_diff_close();">關閉</button>
			</div>
		</div>
	</div>
</div>
<!-- <DIFF MODAL> -->
<!-- <FCNOTIFICATION MODAL> -->
<div class="modal fade main_scroll" id="fcnotificationdata" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="addnewte_modal" class="modal-title">資料註記列表</h5>
			</div>
			<div class="modal-body">
				<button id="not_add_btn" type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="fc_tab5_notification_add();">新增</button>
				<div class="main_scroll_mini main_scroll_mini2 csp-style-56">
					<table class="table_c csp-style-57">
						<thead class="thead_fix">
							<tr>
								<th>時間</th>
								<th>使用者</th>
								<th>內容</th>
								<th>管理</th>
							</tr>
						</thead>
						<tbody id="fi_notification_body" class="ztbody">
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer csp-style-13">
				<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="fc_tab1_notification_close();">確認</button>
			</div>
		</div>
	</div>
</div>

</div>
<!-- 頁面區 -->
<script src="./js/csp-inline/views_2f_fi_5f_manage_5f_tab6_1.js"></script>
