<!-- 頁面區 -->
<div class="manage_page">
	<div class="search_div">
		<div class="content_row_search manage_recreation map_cview">
			<div id="map_window">
				<i class="fas fa-caret-square-left"></i>
			</div>
			<div class="window_hide">
				查詢及結果
			</div>
			<div class="row_text map_flex">
				篩選條件
				<div id="list_window">
					<i class="fas fa-caret-square-down"></i>
				</div>
			</div>
			
			<div class="new_ver_flex map_flex">
				<div>
					<label for="search_county" class="form-label" style="width: 110px;">範例檔案</label>
				</div>
				<a href="地籍查詢清單.xlsx" id="sample_download" style="display: none;"></a>
				<button type="button" class="btn btn-success search_submit custom_bt2" onclick="tab5_sample();">下載</button>
			</div>
			
			<div class="new_ver_flex map_flex">
				<div>
					<label for="search_county" class="form-label" style="width: 110px;">上傳檔案</label>
				</div>
				<input id="upload_xls" class="form-control" type="file" accept=".xls,.xlsx" />
			</div>
			
			<div class="new_ver new_ver_flex map_flex AllCenter" style="text-align: center;">
				<button type="button" class="btn btn-success search_submit custom_bt2" onclick="tab5_go_search();">查詢</button>
				<button type="button" class="btn btn-warning search_submit custom_bt2" onclick="tab5_reset();">重置</button>
			</div>
		</div>


		<div id="m_list" class="content_row_search map_flex" style="height: calc(100vh - 420px)">
			<div class="row_text" style="position: relative">
				地籍列表
				<span id="fi_tab5_count"></span>
				<button type="button" class="btn btn-success search_submit custom_bt2" style="position: absolute;right: 0px; top: -10px;" onclick="tab5_difference();">比對摘要</button>
			</div>
			<div class="result_list main_scroll_mini">
			<!-- <圖資列表> -->
			<table class="table_c te_tab_list" id="fi_tab5_list">	
			</table>
			<!-- <圖資列表> -->
			</div>	
		</div>
	</div>

<div class="fc_detail_data flex">
<div class="fc_partA main_scroll_mini">
<div class="fc_detail_data_map">
<!-- <圖資> -->
<div class="fc_map_detail">
<div id="mmap" style="width: 100%; height: calc(100% - 10px); position: relative; top: 8px;"></div>
<div id="big_window">
	<i class="fas fa-caret-square-down"></i>
</div>
</div>
<!-- <圖資> -->


</div>

<div class="flex" style="height:47%; margin-top: -10px;">
<!-- <地籍標示部> -->
<div class="fc_fc_detail" style="margin-right:10px">
<div class="row_text">標示部</div>
<div id="fc_main_data" class="main_scroll_mini_4">

</div>
</div>
<!-- <地籍標示部> -->

<!-- <地籍所有權部> -->
<div class="fc_fc_detail">
<div class="row_text">所有權部</div>
<div id="fc_owner_data" class="main_scroll_mini_4">

</div>
</div>
<!-- <地籍所有權部> -->
</div>
</div>

<div class="fc_partB">
	<div class="map_flex2" style="width:100%;height: calc(100% - 8px);">
	<!-- <功能區-權限判斷> -->
	<div class="fi_manage_area">
	   <div>
	     <button type="button" id="fi_note_bt" style="width: 120px;" class="btn btn-warning fi_button" onclick="fc_tab5_notification();">資料註記</button>
	     <button id="fitab1dropdowntrig" type="button" class="btn btn-secondary fi_button dropdown-toggle" style="width: 115px;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">匯出SHP</button>
		 <div id="dropdowntrig_fi_tabl_ul" class="dropdown-menu dropdown-menu-customwidth" aria-labelledby="fitab1dropdowntrig">
			<a class="dropdown-item ttab1" href="#" onclick="fi_tab5_downloadshp();">本筆地籍</a>
			<a class="dropdown-item ttab3" href="#" onclick="fi_tab5_downloadASSshp();">查詢結果</a>
	     </div>
		 <button type="button" class="btn btn-secondary fi_button1" style="width: 150px;" onclick="fi_tab5_api();">所有權部資訊</button>
	   </div>
	</div>
	<!-- <功能區-權限判斷> -->
	<div class="fcstate_detail">
		<div class="row_text">
			林地屬性
			<div id="fcland_state"></div>
		</div>
		<div class="row_text">
			林地分區
			<div id="fcland_zone"></div>
		</div>
	</div>
	<!-- <細項> -->
	<div class="data_detail" style="overflow: auto;">
	<div class="row_text">
		關聯項目
	</div>
	<div class="layerstate">
		<div class="custom-switch form-switch">
			圖層狀態
			<input class="form-check-input" type="checkbox" onchange="fi_tab5_AssSwitch(this);" checked />
		</div>
	</div>
	<div id="relation_fi" class="main_scroll_mini">
		<!-- //塞入圖資基本資料 -->
		<div class="fi_tab_frame" style="display:none;">
		<div class="fi_tab" id="fi_tab_list5">
			<div>林管處轄區</div>		
		</div>
		<div class="fi_tab_content">
		<table class="table tab_content_table fc_tab1_associate" id="type5_list">
		</table>
		</div>
		</div>
		<hr style="display:none;">
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list1">
		<div><div class="fi_marker" style="background-color:#2fd321;"></div>國有林事業區</div>
		<div class="fi_amount" id="type1_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
			<table class="table tab_content_table fc_tab1_associate" id="type1_list">
			  
			</table>
		</div>
		
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list2">
		<div><div class="fi_marker" style="background-color:#ffb700;"></div>保安林</div>
		<div class="fi_amount" id="type2_amount">共0筆</div>
		
		</div>
		
		<div class="fi_tab_content">
		<table class="table tab_content_table fc_tab1_associate" id="type2_list">
			
		</table>

		</div>
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list3">
		<div><div class="fi_marker" style="background-color:#ff780e;"></div>森林遊樂區</div>
		<div class="fi_amount" id="type3_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
		<table class="table  tab_content_table fc_tab1_associate" id="type3_list">

		</table>
		</div>
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list4">
		<div><div class="fi_marker" style="background-color:#ffee00;"></div>環境敏感區</div>
		<div class="fi_amount" id="type4_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
		<table class="table  tab_content_table fc_tab1_associate" id="type4_list">

		</table>
		</div>
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list6">
		<div><div class="fi_marker" style="background-color:#b0e404;"></div>國土綠網軸帶</div>
		<div class="fi_amount" id="type6_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
		<table class="table  tab_content_table fc_tab1_associate" id="type6_list">

		</table>
		</div>
		</div>
		<hr>
		<div class="fi_tab_frame">
		<div class="fi_tab" id="fi_tab_list7">
		<div><div class="fi_marker" style="background-color:#01cadb;"></div>國土綠網關注區</div>
		<div class="fi_amount" id="type7_amount">共0筆</div>
		</div>
		
		<div class="fi_tab_content">
		<table class="table  tab_content_table fc_tab1_associate" id="type7_list">

		</table>
		</div>
		</div>
	</div>
	</div>
	<!-- <細項> -->

	</div>
	<div id="big_window3">
		<i class="fas fa-caret-square-right"></i>
	</div>
</div>
</div>

<!-- <OWNER MODAL> -->
<div class="modal fade main_scroll" id="ownerdata" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="addnewte_modal" class="modal-title">所有權資訊</h5>
			</div>
			<div class="modal-body">
				<div class="search_type ownerdata_manager" style="margin-bottom: 20px;">	
					<ul class="nav nav-tabs">
						<li class="nav-item8 tab1" style="width: 200px;">
							<span class="nav-link active">所有權最新資訊</span>
						</li>
						<li class="nav-item8 tab2" style="width: 200px;">
							<span class="nav-link">移轉歷程</span>
						</li>
					</ul>
				</div>
				<div id="owner_1" class="main_scroll_mini_4" style="max-height: 500px;">
					
				</div>
				<div id="owner_2" class="main_scroll_mini_4" style="max-height: 500px; display: none;">
					
				</div>
			</div>
			<div class="modal-footer" style="justify-content: center;">
				<button type="button" class="btn btn-success search_submit custom_bt2" onclick="fi_tab5_owner_close();">確認</button>
			</div>
		</div>
	</div>
</div>
<!-- <OWNER MODAL> -->
<!-- <DIFF MODAL> -->
<div class="modal fade main_scroll" id="differencenote" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="addnewte_modal" class="modal-title">批次比對結果</h5>
			</div>
			<div class="modal-body">
				<div class="row_text map_flex">
					比對成功
					<span id="diff_currect"></span>
				</div>
				<div class="row_text map_flex">
					比對失敗
					<span id="diff_error"></span>
				</div>
				<div style="height:calc(45vh);" class="main_scroll_mini main_scroll_mini2">
					<table class="table_c" style="margin-bottom:0px;word-break: keep-all;">
						<thead class="thead_fix">
							<tr>
								<th>狀態</th>
								<th>縣市</th>
								<th>鄉鎮</th>
								<th>地段</th>
								<th>地號</th>
							</tr>
						</thead>
						<tbody id="fi_diff_body" class="ztbody">
						</tbody>
					</table>				
				</div>
			</div>
			<div class="modal-footer" style="justify-content: center;">
				<button type="button" class="btn btn-success search_submit custom_bt2" onclick="fi_tab5_diff_close();">關閉</button>
			</div>
		</div>
	</div>
</div>
<!-- <DIFF MODAL> -->
<!-- <FCNOTIFICATION MODAL> -->
<div class="modal fade main_scroll" id="fcnotificationdata" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="addnewte_modal" class="modal-title">資料註記列表</h5>
			</div>
			<div class="modal-body">
				<button id="not_add_btn" type="button" class="btn btn-success search_submit custom_bt2" onclick="fc_tab5_notification_add();">新增</button>
				<div style="height:calc(45vh);" class="main_scroll_mini main_scroll_mini2">
					<table class="table_c" style="margin-bottom:0px;word-break: keep-all;">
						<thead class="thead_fix">
							<tr>
								<th>時間</th>
								<th>使用者</th>
								<th>內容</th>
								<th>管理</th>
							</tr>
						</thead>
						<tbody id="fi_notification_body" class="ztbody">
						</tbody>
					</table>				
				</div>
			</div>
			<div class="modal-footer" style="justify-content: center;">
				<button type="button" class="btn btn-success search_submit custom_bt2" onclick="fc_tab1_notification_close();">確認</button>
			</div>
		</div>
	</div>
</div>

</div>	
<!-- 頁面區 -->
<script>
	 fi_tab5_init();
	 
	 $(".fc_detail_data").hide();
	 tab6("ownerdata_manager");
	 
	 // tab7();
	 var isshowright = true;
	 $("#big_window").on("click",function() {
		
		if ($(".fc_partA,.fc_detail_data_map").hasClass ("big_window")) {
			$(".fc_partA,.fc_detail_data_map").removeClass("big_window");
			$(this).children().removeClass("fa-caret-square-up").addClass("fa-caret-square-down");
		}
		else {
			$(".fc_partA,.fc_detail_data_map").addClass("big_window");
			$(this).children().removeClass("fa-caret-square-down").addClass("fa-caret-square-up");
		}
		
		if (fi_tab5 && fi_tab5.map) fi_tab5.map.updateSize();
	});
		 
	 $("#list_window").on("click",function() {
		if ($(".new_ver_flex").hasClass("itemhide")) {
			$(".new_ver_flex").removeClass("itemhide");
			$(this).children().removeClass("fa-caret-square-up").addClass("fa-caret-square-down");
			$("#m_list").css("height", "calc(100vh - 420px)");
		}
		else {
			$(".new_ver_flex").addClass("itemhide");
			$(this).children().removeClass("fa-caret-square-down").addClass("fa-caret-square-up");
			$("#m_list").css("height", "calc(100vh - 243px)");
		}
	});
	
	$("#map_window").on("click",function() {
		if ($(".map_flex").hasClass("itemhide")) {
			$(".map_flex").removeClass("itemhide");
			$(this).children().removeClass("fa-caret-square-right").addClass("fa-caret-square-left");
			$(".search_div").width(400);
			$(".map_cview").height("");
			$(".fc_detail_data").width("calc(100vw - 420px)");
			if (isshowright) {
				$(".fc_partA").width("calc(60% - 10px)");
				$(".fc_partB").width("40%");
			} else {
				$(".fc_partB").width("0%");
				$(".fc_partA").width("calc(100% - 30px)");
			}
			$(".window_hide").hide();
		}
		else {
			$(".map_flex").addClass("itemhide");
			$(this).children().removeClass("fa-caret-square-left").addClass("fa-caret-square-right");
			$(".search_div").width(80);
			$(".map_cview").height("calc(100vh - 160px)");
			$(".fc_detail_data").width("calc(100vw - 80px)");
			if (isshowright) {
				$(".fc_partA").width("calc(70% - 10px)");
				$(".fc_partB").width("30%");
			} else {
				$(".fc_partB").width("0%");
				$(".fc_partA").width("calc(100% - 30px)");
			}
			$(".window_hide").show();
		}
		if (fi_tab5 && fi_tab5.map) fi_tab5.map.updateSize();
	});
	
	$("#big_window3").on("click",function() {
		if ($(".map_flex2").hasClass("itemhide")) {
			$(".map_flex2").removeClass("itemhide");
			$(this).children().removeClass("fa-caret-square-right").addClass("fa-caret-square-left");
			$(".fc_partB").width("40%");
			$(".fc_partA").width("calc(60% - 10px)");
			isshowright = true;
		}
		else {
			$(".map_flex2").addClass("itemhide");
			$(this).children().removeClass("fa-caret-square-left").addClass("fa-caret-square-right");
			$(".fc_partB").width("0%");
			$(".fc_partA").width("calc(100% - 30px)");
			isshowright = false;
		}
		if (fi_tab5 && fi_tab5.map) fi_tab5.map.updateSize();
	});
</script>
	