<!-- 功能頁面區 -->
	<div>
    <div class="search_type fi_manage">	
	<ul class="nav nav-tabs">
			  <li class="nav-item2 tab1">
				<span class="nav-link active">國有林事業區/林班</span>
			  </li>
			  <li class="nav-item2 tab2">
				<span class="nav-link">保安林</span>
			  </li>		  
			  <li class="nav-item2 tab3">
				<span class="nav-link">森林遊樂區</span>
			  </li>		
			  <li class="nav-item2 tab4">
				<span class="nav-link">實驗林</span>
			  </li>					  
		</ul>
	</div>
	
	<div class="tab_body main_scroll">
	<div class="tab_body_content tab1 active">
	
	</div>
	
	<div class="tab_body_content tab2">

	</div>
	
	<div class="tab_body_content tab3">
	
	</div>
	
   <div class="tab_body_content tab4">

   </div>
</div>
</div>
	
				
	</div>
	<!-- 功能頁面區 -->
	
	<script>
	   tab("fi_manage");

    </script>