<!-- 頁面區 -->
<div class="manage_page">
<div class="search_div">

<div class="content_row_search manage_research">
	<div class="row_text">篩選條件</div>

	
	<div class="new_ver_flex">
		<div>
	   <label for="search_dist" class="form-label" style="width: 110px;">管理單位</label>
	   </div>
        <select id="search_dist" class="form-select" onchange="tab4_go_search();">
		  <option value="-1" selected>不指定</option>		 
		</select>
	</div>

	</div>

<div class="content_row_search" style="height: calc(100vh - 286px)">
	<div class="row_text">圖資列表</div>
	<div class="result_list main_scroll_mini">
	<!-- <圖資列表> -->
	<table class="table  te_tab_list" id="te_tab4_list">
	<!-- [MANAGER] + [NAME] -->
    </table>
		<!-- <圖資列表> -->
	</div>

	
</div>
</div>

<div class="fc_detail_data main_scroll_mini">
<div class="detail_data_map">
<!-- <圖資> -->
<div class="map_detail">
<div id="mmap"></div>
<div id="big_window">
	<i class="fas fa-caret-square-down"></i>
</div>
</div>
<!-- <圖資> -->
<div style="width: 30%;">
	<!-- <功能區-權限判斷> -->
	<div class="fi_manage_area">
	   <div>
		 <button type="button" class="btn btn-secondary fi_button">下載</button>
	   </div>
	   <div class="fi_pro">
		 <button type="button" id="fi_edit_bt" class="btn btn-warning fi_button">編輯</button>
	   </div>
	   <div class="fi_edit">
		 
	   </div>
	</div>
	<!-- <功能區-權限判斷> -->

	<!-- <細項> -->
	<div class="data_detail">
	<div class="row_text">資料內容</div>
	<div id="list_detail" class="main_scroll_mini">
		<!-- //塞入圖資基本資料 -->
		<div>未選取</div>
		</div>
	</div>
	<!-- <細項> -->

	</div>

</div>


<!-- <地籍> -->
<div class="fc_detail">
<div class="row_text">關聯地籍列表</div>
<div id="fc_detail_list"></div>
</div>
<!-- <地籍> -->

</div>

</div>	
<!-- 頁面區 -->
	<script>
     /* map('mmap',true,false);
	 optionactive("te_tab4_list");
	 list_click("te_tab4_list","實驗林");
	 
	 $("#item1").click();*/
	 fi_tab4_init();
	 fi_edit();
	 $(".fc_detail_data").hide();
	 
    </script>
	