<div style="display:flex">
<div class="content_row_47 list_height">
	<div class="row_text">異動圖資列表</div>
	<table id="fi_list1" class="table table-hover">
	<thead>
	<tr>
		<th  width="15%" style="border-radius:10px 0 0 0;">序號</th>
		<th width="25%">類型</th>
		<th width="40%">圖資識別碼</th>
		<th  width="20%" style="border-radius: 0 10px 0 0 ;">管理</th>
	</tr>
	</thead>
	<tbody>
	     
	
	</tbody>
	</table>
</div>

<div class="content_row_47 list_height">
	<div class="row_text">圖資屬性</div>
</div>
</div>
<div class="content_row_data list_height">
	<div class="row_text">空間位置</div>
    <div id="mmap" style="height: calc(100% - 70px);"></div>
</div>

<script>
    map();
</script>
