<div style="display:flex">
<div class="content_row_47 list_height">
	<div class="row_text">異動圖資列表</div>
	<div style="height:230px;" class="main_scroll_mini">
	<table id="fi_list1" class="table table-hover">
	<thead>
	<tr>
		<th  width="15%" style="border-radius:10px 0 0 0;">序號</th>
		<th width="35%">類型</th>
		<th width="30%">編輯形式</th>
		<th  width="30%" style="border-radius: 0 10px 0 0 ;">管理</th>
	</tr>
	</thead>
	<tbody id = "list_table">
	<!-- //塞入異動圖資列表 -->
	
	</tbody>
	</table>
</div>
</div>
<div class="content_row_47 list_height">
	<div class="row_text">圖資屬性</div>
	<div id="list_detail">
	<!-- //塞入圖資基本資料 -->
	<div>未選取</div>
	</div>
</div>
</div>
<div class="content_row_data list_height_map">
	<div class="row_text">空間位置</div>
	<!-- //塞入圖資空間資料 -->
    <div id="mmaplist" style="height: calc(100% - 70px);"></div>
</div>

<script>
    map('mmaplist',false,false);
		
	
</script>
