<!-- 圖資管理頁面 -->
<div>
	<!-- 圖層列表 -->
	<div id="sys_manage_tab7">
		<div class="row_text2">公告列表</div>
		<div>
			<button type="button" class="btn btn-success search_submit custom_bt2 user_group_base" data-csp-onclick="sys_manage_tab7_ann_add();">
				新增公告
			</button>
		</div>
		<div class="main_scroll_mini_4 csp-style-84">
		<table class="table_d fc_tab_list2" id="sys_custom_theme_list" >
			<thead class="csp-style-48">
				<tr>
					<th class="csp-style-150">日期</th>
					<th>內容</th>
					<th class="csp-style-150">狀態</th>
					<th class="csp-style-150">編輯</th>
				</tr>
			</thead>
			<tbody id="sys_manage_tab7_list" class="ztbody"></tbody>
		</table>
		</div>
	</div>
</div>
<!-- <MODAL 新增> -->
<div class="modal fade main_scroll" id="AddNewAnn" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="add_edit_file_modal" class="modal-title">公告管理</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input id="add_edit_sid" type="text"  class="csp-style-12" />
				<table class="csp-style-34">
					<tbody>
						<tr>
							<td>
								日期
							</td>
							<td>
								<input id="add_ann_date" class="form-control" type="text" />
							</td>
						</tr>
						<tr>
							<td>
								說明
							</td>
							<td>
								<textarea id="add_ann_note" class="form-control" rows="3"></textarea>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer csp-style-13">
				<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="sys_manage_tab7_ann_close();">取消</button>
				<button id="add_file_btn" type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="sys_manage_tab7_click_add();">新增</button>
				<button id="edit_file_btn" type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="sys_manage_tab7_click_edit();">儲存</button>
			</div>
		</div>
	</div>
</div>
<script src="./js/csp-inline/views_2f_sys_5f_manage_5f_tab7_1.js"></script>