<!-- 使用者管理頁面 -->
<div>
	<div id="sys_rowsearch" class="search_div csp-style-137">
		<div class="row_text2">人員異動管理</div>
		<div class="AllCenter">
			<div class="csp-style-142">
				<label class="labelinlineblock">請選擇變更人員之角色群組</label>
				<table class="table_c sys_pepole_tab_list" id="sys_user_manage_list">
					<thead>
						<tr>
							<th>
								角色群組
								<select id="targetgroup" data-csp-onchange="getTargetUser();">
									<option value="-1">請選擇</option>
								</select>
							</th>
						</tr>
					</thead>
					<tbody id="sys_pepole_tab_list_target">

					</tbody>
				</table>
			</div>
			<div class="csp-style-143">
				<button type="button" class="btn btn-success search_submit custom_bt2 csp-style-144" data-csp-onclick="UserToRight();"> &gt;&gt; </button>
				<button type="button" class="btn btn-success search_submit custom_bt2 csp-style-144" data-csp-onclick="UserToLeft();"> &lt;&lt; </button>
			</div>
			<div class="csp-style-142">
				<label class="labelinlineblock"></label>
				<table class="table_c sys_pepole_tab_list" id="sys_user_manage_list">
					<thead>
						<tr>
							<th>
								角色群組
								<select id="changegroup" data-csp-onchange="getTargetUser();">
									<option value="-1">請選擇</option>
								</select>
							</th>
						</tr>
					</thead>
					<tbody id="sys_pepole_tab_list_change">

					</tbody>
				</table>
			</div>
		</div>
		<div class="AllCenter">
			<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="CancelUserChange();">取消</button>
			<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="SaveUserChange();">儲存</button>
		</div>
	</div>
</div>

<script src="./js/csp-inline/views_2f_sys_5f_manage_5f_pepole_5f_manage_1.js"></script>