<!-- 頁面區 -->
<div class="manage_page">
<div class="search_div">
	<div class="content_row_search">
	<div class="row_text">篩選條件</div>
	<div class="new_ver_flex">
	<div>
	   <label for="ver_year" class="form-label" style="width: 110px;">年度</label>
	 </div>  
	   <select id="ver_year0" class="form-select" >
		  <option selected>不指定</option>
		  <option value="110">110</option>
		  <option value="111">111</option>
		  <option value="112">112</option>
		</select>
	</div>
	
		<div class="new_ver_flex">
		<div>
	   <label for="search_id" class="form-label" style="width: 110px;">識別碼</label>
	   </div>
	   <input id="search_id" type="text" class="form-control" />
	</div>
	
	<div class="new_ver_flex">
	<div>
	   <label for="search_title" class="form-label"  style="width: 110px;">標題關鍵字</label>
	    </div>
	   <input id="search_title" type="text" class="form-control" />
	</div>
	
	<div class="new_ver_flex">
	<div>
	   <label for="search_stat" class="form-label"  style="width: 110px;">狀態</label>
	   </div>
	   <select id="search_stat" class="form-select"  >
		  <option selected>不指定</option>
		  <option value="0">未送審</option>
		  <option value="1">已送審</option>
		  <option value="2">已完成</option>
		</select>
	</div>
	
	<div class="new_ver" style="text-align:center;">
	<button type="button" class="btn btn-success search_submit custom_bt2">查詢</button>
	<button type="button" class="btn btn-warning search_submit custom_bt2">重置</button>
	</div>

	</div>


<div class="content_row_search" style="height: calc(100vh - 510px)">
	<div class="row_text">異動列表</div>
	<div class="result_list main_scroll_mini">
	<!-- <異動列表資料> -->
	<table class="table table-hover te_tab_list" id="te_tab1_list">
	    
    </table>
		<!-- <異動列表資料> -->
	</div>

	
</div>
</div>


<div class="detail_data main_scroll">
<!-- <編輯功能區 需確認權限是否可以編輯或刪除> -->
<div class="content_row_data manage_bt_area" style="padding:10px;">
<div class="normal_state manage_bt">
   <button type="button" class="btn btn-success search_submit custom_bt2" id="detail_edit">編輯</button>
   <!-- //送審功能僅在未送審狀態下出現 -->
   
   <button type="button" class="btn btn-info search_submit custom_bt2" id="sent_apply">送審</button>
</div>

<div class="edit_state manage_bt">
    <button type="button" class="btn btn-success search_submit custom_bt2" id="detail_save">儲存</button>
	<button type="button" class="btn btn-warning search_submit custom_bt2" id="detail_cancel">取消</button>
	<button type="button" class="btn btn-danger search_submit custom_bt2 manage_delete" id="detail_delete">刪除</button>
</div>
	
	
</div>
<!-- <基本資料> -->
<div class="data_frame">


</div>
<!-- <基本資料> -->

<!-- <編輯功能區 需確認權限是否可以編輯或刪除> -->
<div class="content_row_data manage_bt_area" style="padding:10px;">
<div class="normal_state manage_bt">
   <button type="button" class="btn btn-success search_submit custom_bt2" id="feature_edit" style="width: 170px;" onclick="doCreate()">新增異動圖資</button>

</div>

	
</div>

<!-- <圖資資料> -->
<div class="list_frame">

</div>
<!-- <圖資資料> -->
</div>
</div>
<!-- 頁面區 -->

<script>
setTimeout(function(){
      $("#item1").click();
	  loadListData(0); //刻版測試用
},50);

    var original_page = "";
	
	<!-- 查詢列表子項目點擊 -->
	$("#te_tab1_list tr").on("click",function(){
	$(this).parent().children().removeClass("active");
	$(this).addClass("active");
	
	let d = $(this).attr('id');
	loadDetialData(d);           //載入基本資料
	loadListData(d);             //載入圖資列表資料
	$("#detail_cancel").click(); //復原編輯狀態
	
	setTimeout(function(){	
	checkSentApply();            //載入異動案件時的判斷方法
	
	},50);

    });
	
$("#fm_search_list tr").on("click",function(){
	$(this).parent().children().removeClass("active");
	$(this).addClass("active");
	});

$("#detail_edit").on("click",function(){
	$(this).parent().hide();
	$(".edit_state").show();
	original_page = $("#basic_data").clone();
	$('input,textarea').prop('readonly', false).prop('disabled', false);
	$("#te_data_basic_file").show();
	$(".file_list_item_delete").show();
});

$("#detail_save").on("click",function(){
    $(".normal_state").show();
	$(".edit_state").hide();
	//送出資料並更新畫面資料(重新載入本筆異動)
	
});

$("#detail_cancel").on("click",function(){
    $(".normal_state").show();
	$(".edit_state").hide();
	//讀取原本資料
	$(".data_frame").empty().html(original_page);
	
});

$("#detail_delete").on("click",function(){
    if(confirm("是否刪除本筆異動所有資料?")){
	 $(".normal_state").show();
	$(".edit_state").hide();
	//刪除該筆異動所有資料
	}
   
});

$("#sent_apply").on("click",function(){
    if(confirm("是否送審本筆異動資料?")){
	 $(".normal_state").show();
	$(".edit_state").hide();
	//更改該筆異動狀態
	}
	
});

    </script>
	