<!-- 功能頁面區 -->
	<div>
    <div class="search_type te_manage">	
	<ul class="nav nav-tabs">
			  <li class="nav-item2 tab1">
				<span class="nav-link active">異動總覽</span>
			  </li>
			 
               <li class="nav-item2 tab2">
				<span class="nav-link">新增異動</span>
			  </li>			

               <li class="nav-item2 tab3">
				<span class="nav-link">異動審核</span>
			  </li>			  
			  		  
		</ul>
	</div>
	
	<div class="tab_body main_scroll">
	<div class="tab_body_content tab1 active">

	</div>
	
	<div class="tab_body_content tab2">

	</div>
	
	<div class="tab_body_content tab3">

	</div>
	

</div>
</div>
	
<!-- 功能頁面區 -->
<!-- <MODAL 新增> -->
	<div class="modal fade main_scroll" id="NewPageview" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	  <div class="modal-dialog modal-xl">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">新增異動圖資</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetModal()" ></button>
		  </div>
		  <div class="modal-body" style="padding-bottom: 0px;">
		    <div style="display:flex">
			<div class="modal_part_search content_row_47_nogap">
			
               <div style="margin:5px; margin-top:-20px;">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">異動類型</div>
			   <div class="new_ver_flex">
			   <div>
				   <label for="fm_type" class="form-label" style="width: 110px;">類型</label>
				 </div> 
		        <select id="fm_type" class="form-select">		
                   <option value="1" selected>國有林事業區</option>
                   <option value="2">保安林</option>				   
			    </select>
		       </div>
			   

			   <div class="new_ver_flex">
			   <div>
				   <label for="fm_edit_type" class="form-label" style="width: 110px;">編輯形式</label>
				 </div> 
		        <select id="fm_edit_type" class="form-select" >		
                   <option value="1" selected>編輯</option>
                   <option value="2">刪除</option>	
                   <option value="3">新增</option>					   
			    </select>
		       </div>
			   </div>
			   </div>
			   <!-- //國有林事業區 -->
			   <div class="fm_search_type1 CreateNew">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">條件查詢</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="search_dist1" class="form-label" style="width: 110px;">林區管理處</label>
				 </div>  
				   <select id="search_dist1" class="form-select" onchange="dist1change();">
					  <option value="-1" selected>請選擇</option>
					</select>
				 </div>
				 
				 <!-- //管理處轄下事業區列表 -->
				 <div class="new_ver_flex">
				  <div>
				   <label for="search_wkng1" class="form-label" style="width: 110px;">事業區</label>
				 </div>  
				   <select id="search_wkng1" class="form-select" >
					  <option value="-1" selected>不指定</option>
					  <!-- //動態塞值 -->
					</select>
				 </div>
				 
				<div class="new_ver_flex">
				<div>
				   <label for="search_warning1" class="form-label"  style="width: 110px;">修訂提示</label>
				   </div>
				   <select id="search_warning1" class="form-select"  >
					  <option value="-1" selected>不指定</option>
					  <option value="1">待修訂</option>

					</select>
				</div>
				
				<div class="new_ver" style="text-align:center;">
				<button type="button" class="btn btn-success search_submit custom_bt2" onclick="GetChangeForestData(true);">查詢</button>
				<button type="button" class="btn btn-warning search_submit custom_bt2">重置</button>
				</div>
				
		     </div>
			 
			 </div>
			 <!-- //國有林事業區 -->
			 <!-- //保安林 -->
			   <div class="fm_search_type2 CreateNew">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">條件查詢</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="search_dist2" class="form-label" style="width: 110px;" >林區管理處</label>
				 </div>  
				   <select id="search_dist2" class="form-select" onchange="dist2change();">
					  <option value="-1" selected>請選擇</option>
					</select>
				 </div>
	
				   <div class="new_ver_flex">
				   <div>
				   <label for="search_pfid" class="form-label" style="width: 110px;">保安林編號</label>
				   </div>
				    <select id="search_pfid" class="form-select" >
					  <option value="-1" selected>不指定</option>
					</select>
				   </div>
	
				<div class="new_ver_flex">
				<div>
				   <label for="search_warning2" class="form-label"  style="width: 110px;">修訂提示</label>
				   </div>
				   <select id="search_warning2" class="form-select"  >
					  <option value="0" selected>不指定</option>
					  <option value="1">待修訂</option>

					</select>
				</div>
				
				<div class="new_ver" style="text-align:center;">
				<button type="button" class="btn btn-success search_submit custom_bt2" onclick="GetChangeProtectionData(true);">查詢</button>
				<button type="button" class="btn btn-warning search_submit custom_bt2">重置</button>
				</div>
				
		     </div>
			 
			 </div>
			 <!-- //保安林 -->
			 
			  <!-- //新增國有林事業區 -->
			   <div class="fm_new_type1 CreateNew_input">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">基本資料</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="new_dist1" class="form-label" style="width: 110px;">林區管理處</label>
				 </div>  
				   <select id="new_dist1" class="form-select" >
					  <option selected>請選擇</option>
					  <option value="1">羅東</option>
					  <option value="2">新竹</option>
					  <option value="3">東勢</option>
					  <option value="4">南投</option>
					  <option value="5">嘉義</option>
					  <option value="6">屏東</option>
					  <option value="7">台東</option>
					  <option value="8">花蓮</option>
					</select>
				 </div>
				 
				 <!-- //管理處轄下事業區列表 -->
				 <div class="new_ver_flex">
				  <div>
				   <label for="new_wkng1" class="form-label" style="width: 110px;">事業區</label>
				 </div>  
				   <select id="new_wkng1" class="form-select" >
					  <option selected>請選擇</option>
					  <!-- //動態塞值 -->
					</select>
				 </div>
				 
				  <div class="new_ver_flex">
				   <div>
				   <label for="new_cmpt" class="form-label" style="width: 110px;">林班編號</label>
				   </div>
				    <input id="new_cmpt" class="form-control" />
					 
				   </div>
				   
				   <div class="new_ver_flex">
				   <div>
				   <label for="new_edition1" class="form-label" style="width: 110px;">修訂資訊</label>
				   </div>
				    <textarea id="new_edition1" class="form-control" rows = 3></textarea>
					 
				   </div>
				
		     </div>
			 
			 </div>
			 <!-- //新增國有林事業區 -->
			 <!-- //新增保安林 -->
			   <div class="fm_new_type2 CreateNew_input">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">基本資料</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="new_dist2" class="form-label" style="width: 110px;">林區管理處</label>
				 </div>  
				   <select id="new_dist2" class="form-select" >
					  <option selected>請選擇</option>
					  <option value="1">羅東</option>
					  <option value="2">新竹</option>
					  <option value="3">東勢</option>
					  <option value="4">南投</option>
					  <option value="5">嘉義</option>
					  <option value="6">屏東</option>
					  <option value="7">台東</option>
					  <option value="8">花蓮</option>
					</select>
				 </div>
	
				   <div class="new_ver_flex">
				   <div>
				   <label for="new_pfid" class="form-label" style="width: 110px;">保安林編號</label>
				   </div>
				    <input id="new_pfid" class="form-control" />
					 
				   </div>
				   
				   <div class="new_ver_flex">
				   <div>
				   <label for="new_edition2" class="form-label" style="width: 110px;">修訂資訊</label>
				   </div>
				    <textarea id="new_edition2" class="form-control" rows = 3></textarea>
					 
				   </div>
					
		     </div>
			 
			 </div>
			 <!-- //新增保安林 -->
			 
			 
             </div>
			 <div class="modal_part_detail content_row_47_nogap CreateNew">
			 <div style="margin:5px; margin-top:-20px;">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">查詢結果</div>
			   <div class="new_ver">
			      
				  <div class="fm_search_list main_scroll_mini">
					<!-- <圖資列表資料> -->
					<table class="table table-hover te_tab_list fm_type1" id="fm_search_list">
						
					</table>
					
					<table class="table table-hover te_tab_list fm_type2" id="fm_search_list2">
											
					</table>
	            </div>
				  
		       </div>
			   </div>
			   
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">空間位置</div>
			   <div class="new_ver">
			      <!-- //塞入圖資空間資料 -->
                     <div id="mmapmodal" style="height: 300px;"></div>

					 
	           </div>
				  
		       </div>
			   </div>
			   
			   </div>
			 
			 </div>

			</div>
			
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetModal()">取消</button>
			<button type="button" class="btn btn-primary" onClick="doCreate_next()" data-bs-dismiss="modal">下一步</button>
		  </div>
		</div>
	  </div>
 </div>

<!-- <MODAL 新增> -->
<!-- <MODAL 編輯> -->
	<div class="modal fade main_scroll" id="EditPageview" tabindex="-1" data-bs-backdrop="static" aria-labelledby="EditPageview" aria-hidden="false">
	  <div class="modal-dialog modal-xl">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">編輯異動圖資</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
		  <div style="display:flex">
		    <div class="map_data_detail">
			    <!-- //圖資編輯欄位 --><!-- //塞入圖資基本資料 -->
				<div class="content_row_nogap2" id="fm_data_edit">
				   
				</div>
				<!-- //圖資套疊欄位 -->
				<div class="content_row_nogap2" id="map_overlay">
				圖層套疊
				</div>
				<div class="content_row_nogap2">
					<div>
						介接參考圖層
					</div>
					<div class="content_table">
						<table id="">
						</table>
					</div>
				</div>
				<div class="content_row_nogap2">
					<div>
						匯入參考圖層
					</div>
					<div class="content_table">
						<table id="ExportReferenceMap">
						</table>
					</div>
				</div>
			</div>
			<div class="map_area">
			     <div class="map_edit_hint" id="map_edit_depend">
				 <input type="file" id="import_reference_features" accept=".shp,.kml" style="display: none;" onchange="ImportReferenceFeatures(this);" />
				 <button onclick="$('#import_reference_features').click();">匯入參考圖資</button>
				 
				 </div>
				 
			     <div id="mmapmodalEdit"></div> 
				 
				<button onclick="EditChangeFeature(this);">編輯區域</button>

				<button onclick="AddChangeFeature(this);">新增區域</button>

				<button onclick="DeleteChangeFeature(this);">刪除區域</button>
				<button id="DelChangeFeatureEventBtn" onclick="DeleteSelectFeature();" style="display: none;">刪除選擇的區域</button>
				 
				<button onclick="HollowChangeFeature(this);">挖空區域</button>
				 
				 <button onclick="ExportNowFeature('SHP');">匯出目前圖資</button>
				 
				 <input type="file" id="import_replace_features" accept=".shp,.kml" style="display: none;" onchange="ImportReplaceFeatures(this);" />
				 <button onclick="$('#import_replace_features').click();">匯入取代圖資</button>
				 
				 </div>
			</div>
			
		  </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" onclick="AbandonEdit()">取消</button>
			<button type="button" class="btn btn-primary" onclick="SaveEdit_fm()">儲存變更</button>
		  </div>
		</div>
	  </div>
	</div>


<!-- <MODAL 編輯> -->
	
<script>
	 tab("te_manage");
     upload_result_owner();
	 searchlistinit(); //初始化林區管理處選項
</script>
	