<!-- 頁面區 -->
<div class="content_row">
	<div class="sub_tab te_manage_tab2 AllCenter">
		<div class="nav-item3 tab1 active" onclick="te_tab_back();">
			<div class="num_icon">1</div>
			<span>基本資料</span>
		</div>
		<i class="fas fa-arrow-circle-right"></i>
		<div class="nav-item3 tab2" onclick="te_manage_next2();">
			<div class="num_icon">2</div>
			<span>異動土地清冊</span>
		</div>
		<i class="fas fa-arrow-circle-right"></i>
		<div class="nav-item3 tab3" onclick="te_tab2_sent();">
			<div class="num_icon">3</div>
			<span>送出登記</span>
		</div>
    </div>
</div>

<!-- 圖資異動步驟 -->
<div id="te_step">


</div>
<!-- 圖資異動步驟 -->	

<!-- 頁面區 -->
<script>
	create_step(2, 1);
</script>
	