<!-- 頁面區 -->
<div class="manage_page">
<div class="search_div">
	<div class="content_row_search">
	<div class="row_text">篩選條件</div>
	<div class="new_ver_flex">
	<div>
	   <label for="ver_year" class="form-label" style="width: 110px;">年度</label>
	 </div>  
	   <select id="ver_year0" class="form-select" >
		  <option selected>不指定</option>
		  <option value="110">110</option>
		  <option value="111">111</option>
		  <option value="112">112</option>
		</select>
	</div>
	
		<div class="new_ver_flex">
		<div>
	   <label for="search_id" class="form-label" style="width: 110px;">識別碼</label>
	   </div>
	   <input id="search_id" type="text" class="form-control" />
	</div>
	
	<div class="new_ver_flex">
	<div>
	   <label for="search_title" class="form-label"  style="width: 110px;">標題關鍵字</label>
	    </div>
	   <input id="search_title" type="text" class="form-control" />
	</div>
	
	<div class="new_ver_flex">
	<div>
	   <label for="search_stat" class="form-label"  style="width: 110px;">狀態</label>
	   </div>
	   <select id="search_stat" class="form-select"  >
		  <option selected>不指定</option>
		  <option value="0">未送審</option>
		  <option value="1">已送審</option>
		  <option value="2">已完成</option>
		</select>
	</div>
	
	<div class="new_ver" style="text-align:center;">
	<button type="button" class="btn btn-success search_submit custom_bt2">查詢</button>
	<button type="button" class="btn btn-warning search_submit custom_bt2">重置</button>
	</div>

	</div>


<div class="content_row_search" style="height: calc(100vh - 510px)">
	<div class="row_text">異動列表</div>
	<div class="result_list main_scroll_mini">
	<!-- <異動列表資料> -->
	<table class="table table-hover te_tab_list" id="te_tab1_list">
	    
    </table>
		<!-- <異動列表資料> -->
	</div>

	
</div>
</div>


<div class="detail_data main_scroll">
<!-- <編輯功能區 需確認權限是否可以編輯或刪除> -->
<div class="content_row_data manage_bt_area" style="padding:10px;">
<div class="normal_state manage_bt">
   <button type="button" class="btn btn-success search_submit custom_bt2" id="detail_edit">編輯</button>
   <!-- //送審功能僅在未送審狀態下出現 -->
   
   <button type="button" class="btn btn-info search_submit custom_bt2" id="sent_apply">送審</button>
</div>

<div class="edit_state manage_bt">
    <button type="button" class="btn btn-success search_submit custom_bt2" id="detail_save">儲存</button>
	<button type="button" class="btn btn-warning search_submit custom_bt2" id="detail_cancel">取消</button>
	<button type="button" class="btn btn-danger search_submit custom_bt2 manage_delete" id="detail_delete">刪除</button>
</div>
	
	
</div>
<!-- <基本資料> -->
<div class="data_frame">


</div>
<!-- <基本資料> -->

<!-- <編輯功能區 需確認權限是否可以編輯或刪除> -->
<div class="content_row_data manage_bt_area" style="padding:10px;">
<div class="normal_state manage_bt">
   <button type="button" class="btn btn-success search_submit custom_bt2" id="feature_edit" style="width: 170px;" onclick="doCreate()">新增異動圖資</button>

</div>

	
</div>

<!-- <圖資資料> -->
<div class="list_frame">

</div>
<!-- <圖資資料> -->
</div>
</div>
<!-- 頁面區 -->
<!-- <MODAL 新增> -->
	<div class="modal fade" id="NewPageview" tabindex="-1" data-bs-backdrop="static" aria-labelledby="NewPageview" aria-hidden="false">
	  <div class="modal-dialog modal-xl">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">新增異動圖資</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body" style="padding-bottom: 0px;">
		    <div style="display:flex">
			<div class="modal_part_search content_row_47_nogap">
			
               <div style="margin:5px; margin-top:-20px;">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">異動類型</div>
			   <div class="new_ver_flex">
			   <div>
				   <label for="fm_type" class="form-label" style="width: 110px;">類型</label>
				 </div> 
		        <select id="fm_type" class="form-select" >		
                   <option value="1" selected>國有林事業區</option>
                   <option value="2">保安林</option>				   
			    </select>
		       </div>
			   

			   <div class="new_ver_flex">
			   <div>
				   <label for="fm_edit_type" class="form-label" style="width: 110px;">編輯形式</label>
				 </div> 
		        <select id="fm_edit_type" class="form-select" >		
                   <option value="1" selected>編輯</option>
                   <option value="2">刪除</option>	
                   <option value="3">新增</option>					   
			    </select>
		       </div>
			   </div>
			   </div>
			   <!-- //國有林事業區 -->
			   <div class="fm_search_type1 CreateNew">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">條件查詢</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="search_dist1" class="form-label" style="width: 110px;">林區管理處</label>
				 </div>  
				   <select id="search_dist1" class="form-select" >
					  <option selected>請選擇</option>
					  <option value="1">羅東</option>
					  <option value="2">新竹</option>
					  <option value="3">東勢</option>
					  <option value="4">南投</option>
					  <option value="5">嘉義</option>
					  <option value="6">屏東</option>
					  <option value="7">台東</option>
					  <option value="8">花蓮</option>
					</select>
				 </div>
				 
				 <!-- //管理處轄下事業區列表 -->
				 <div class="new_ver_flex">
				  <div>
				   <label for="search_wkng1" class="form-label" style="width: 110px;">事業區</label>
				 </div>  
				   <select id="search_wkng1" class="form-select" >
					  <option selected>不指定</option>
					  <!-- //動態塞值 -->
					</select>
				 </div>
				 
				<div class="new_ver_flex">
				<div>
				   <label for="search_warning1" class="form-label"  style="width: 110px;">修訂提示</label>
				   </div>
				   <select id="search_warning1" class="form-select"  >
					  <option value="0" selected>不指定</option>
					  <option value="1">待修訂</option>

					</select>
				</div>
				
				<div class="new_ver" style="text-align:center;">
				<button type="button" class="btn btn-success search_submit custom_bt2">查詢</button>
				<button type="button" class="btn btn-warning search_submit custom_bt2">重置</button>
				</div>
				
		     </div>
			 
			 </div>
			 <!-- //國有林事業區 -->
			 <!-- //保安林 -->
			   <div class="fm_search_type2 CreateNew">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">條件查詢</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="search_dist2" class="form-label" style="width: 110px;">林區管理處</label>
				 </div>  
				   <select id="search_dist2" class="form-select" >
					  <option selected>請選擇</option>
					  <option value="1">羅東</option>
					  <option value="2">新竹</option>
					  <option value="3">東勢</option>
					  <option value="4">南投</option>
					  <option value="5">嘉義</option>
					  <option value="6">屏東</option>
					  <option value="7">台東</option>
					  <option value="8">花蓮</option>
					</select>
				 </div>
	
				   <div class="new_ver_flex">
				   <div>
				   <label for="search_pfid" class="form-label" style="width: 110px;">保安林編號</label>
				   </div>
				    <select id="search_pfid" class="form-select" >
					  <option value="0" selected>不指定</option>
					  <option value="1001">1001</option>
					  <option value="1002">1002</option>
					  <option value="1003">1003</option>
					  <option value="1004">1004</option>
					  <option value="1005">1005</option>
					  <option value="1006">1006</option>
					  <option value="1007">1007</option>
					  <option value="1008">1008</option>
					</select>
				   </div>
	
				<div class="new_ver_flex">
				<div>
				   <label for="ver_warning2" class="form-label"  style="width: 110px;">修訂提示</label>
				   </div>
				   <select id="ver_warning2" class="form-select"  >
					  <option value="0" selected>不指定</option>
					  <option value="1">待修訂</option>

					</select>
				</div>
				
				<div class="new_ver" style="text-align:center;">
				<button type="button" class="btn btn-success search_submit custom_bt2">查詢</button>
				<button type="button" class="btn btn-warning search_submit custom_bt2">重置</button>
				</div>
				
		     </div>
			 
			 </div>
			 <!-- //保安林 -->
			 
			  <!-- //新增國有林事業區 -->
			   <div class="fm_new_type1 CreateNew_input">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">基本資料</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="new_dist1" class="form-label" style="width: 110px;">林區管理處</label>
				 </div>  
				   <select id="new_dist1" class="form-select" >
					  <option selected>請選擇</option>
					  <option value="1">羅東</option>
					  <option value="2">新竹</option>
					  <option value="3">東勢</option>
					  <option value="4">南投</option>
					  <option value="5">嘉義</option>
					  <option value="6">屏東</option>
					  <option value="7">台東</option>
					  <option value="8">花蓮</option>
					</select>
				 </div>
				 
				 <!-- //管理處轄下事業區列表 -->
				 <div class="new_ver_flex">
				  <div>
				   <label for="new_wkng1" class="form-label" style="width: 110px;">事業區</label>
				 </div>  
				   <select id="new_wkng1" class="form-select" >
					  <option selected>請選擇</option>
					  <!-- //動態塞值 -->
					</select>
				 </div>
				 
				  <div class="new_ver_flex">
				   <div>
				   <label for="new_cmpt" class="form-label" style="width: 110px;">林班編號</label>
				   </div>
				    <input id="new_cmpt" class="form-control" />
					 
				   </div>
				   
				   <div class="new_ver_flex">
				   <div>
				   <label for="new_edition1" class="form-label" style="width: 110px;">修訂資訊</label>
				   </div>
				    <textarea id="new_edition1" class="form-control" rows = 3></textarea>
					 
				   </div>
				
		     </div>
			 
			 </div>
			 <!-- //新增國有林事業區 -->
			 <!-- //新增保安林 -->
			   <div class="fm_new_type2 CreateNew_input">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">基本資料</div>
			   <div class="new_ver_flex">		   
				  <div>
				   <label for="new_dist2" class="form-label" style="width: 110px;">林區管理處</label>
				 </div>  
				   <select id="new_dist2" class="form-select" >
					  <option selected>請選擇</option>
					  <option value="1">羅東</option>
					  <option value="2">新竹</option>
					  <option value="3">東勢</option>
					  <option value="4">南投</option>
					  <option value="5">嘉義</option>
					  <option value="6">屏東</option>
					  <option value="7">台東</option>
					  <option value="8">花蓮</option>
					</select>
				 </div>
	
				   <div class="new_ver_flex">
				   <div>
				   <label for="new_pfid" class="form-label" style="width: 110px;">保安林編號</label>
				   </div>
				    <input id="new_pfid" class="form-control" />
					 
				   </div>
				   
				   <div class="new_ver_flex">
				   <div>
				   <label for="new_edition2" class="form-label" style="width: 110px;">修訂資訊</label>
				   </div>
				    <textarea id="new_edition2" class="form-control" rows = 3></textarea>
					 
				   </div>
					
		     </div>
			 
			 </div>
			 <!-- //新增保安林 -->
			 
			 
             </div>
			 <div class="modal_part_detail content_row_47_nogap CreateNew">
			 <div style="margin:5px; margin-top:-20px;">
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">查詢結果</div>
			   <div class="new_ver">
			      
				  <div class="fm_search_list main_scroll_mini">
					<!-- <圖資列表資料> -->
					<table class="table table-hover te_tab_list fm_type1" id="fm_search_list">
						<tr id="t1f1" class="active">		  
						   <td>新竹處</td>
						   <td>大溪事業區</td>
						   <td>1林班</td>
						</tr>
						
						 <tr id="t1f2">
						   <td>新竹處</td>
						   <td>大溪事業區</td>
						   <td>2林班</td>
						</tr>
						
						 <tr id="t1f3">
						   <td>新竹處</td>
						   <td>大溪事業區</td>
						   <td>3林班</td>
						</tr>
						
						 <tr id="t1f4">
						    <td>新竹處</td>
						   <td>大溪事業區</td>
						   <td>4林班</td>
						</tr>
						
						<tr id="t1f5">
						    <td>新竹處</td>
						   <td>大溪事業區</td>
						   <td>5林班</td>
						</tr>
						
						<tr id="t1f6">
						    <td>新竹處</td>
						   <td>大溪事業區</td>
						   <td>6林班</td>
						</tr>
						<tr id="t1f7">
						    <td>新竹處</td>
						   <td>大溪事業區</td>
						   <td>7林班</td>
						</tr>
					</table>
					
					<table class="table table-hover te_tab_list fm_type2" id="fm_search_list">
						<tr id="t2f1" class="active">		  
						   <td>新竹處</td>
						   <td>1123號</td>
						   <td>水源涵養林</td>
						</tr>
						
						 <tr id="t2f2">
						   <td>新竹處</td>
						   <td>1124號</td>
						   <td>水源涵養林</td>
						</tr>
						
						 <tr id="t2f3">
						   <td>新竹處</td>
						   <td>1125號</td>
						   <td>水源涵養林</td>
						</tr>
											
					</table>
	            </div>
				  
		       </div>
			   </div>
			   
			   <div class="content_row_nogap">
			   <div class="row_text" style="margin:10px;">空間位置</div>
			   <div class="new_ver">
			      <!-- //塞入圖資空間資料 -->
                     <div id="mmapmodal" style="height: 300px;"></div>  
					
					
	           </div>
				  
		       </div>
			   </div>
			   
			   </div>
			 
			 </div>

			</div>
			
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="resetModal()">取消</button>
			<button type="button" class="btn btn-primary" onClick="doCreate_next()" data-bs-dismiss="modal">下一步</button>
		  </div>
		</div>
	  </div>
 </div>

<!-- <MODAL 新增> -->
<!-- <MODAL 編輯> -->
	<div class="modal fade" id="EditPageview" tabindex="-1" data-bs-backdrop="static" aria-labelledby="EditPageview" aria-hidden="false">
	  <div class="modal-dialog modal-xl">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title">編輯異動圖資</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		  </div>
		  <div class="modal-body">
		  <div style="display:flex">
		    <div class="map_data_detail">
			    <!-- //圖資編輯欄位 --><!-- //塞入圖資基本資料 -->
				<div class="content_row_nogap2" id="fm_data_edit">
				   
				</div>
				<!-- //圖資套疊欄位 -->
				<div class="content_row_nogap2" id="map_overlay">
				圖層套疊
				</div>
			</div>
			<div class="map_area">
			     <div class="map_edit_hint" id="map_edit_hint">地圖編輯提示</div>
			     <div id="mmapmodalEdit"></div> 
                 <div class="map_edit_tools">地圖編輯工具
				 
				 </div>				 
			</div>
			
		  </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" onclick="AbandonEdit()">取消</button>
			<button type="button" class="btn btn-primary" onclick="SaveEdit_fm()">儲存變更</button>
		  </div>
		</div>
	  </div>
	</div>


<!-- <MODAL 編輯> -->
<script>
setTimeout(function(){
      $("#item1").click();
	  
},50);

    var original_page = "";
	
	<!-- 查詢列表子項目點擊 -->
	$("#te_tab1_list tr").on("click",function(){
	$(this).parent().children().removeClass("active");
	$(this).addClass("active");
	
	let d = $(this).attr('id');
	loadDetialData(d);           //載入基本資料
	loadListData(d);             //載入圖資列表資料
	$("#detail_cancel").click(); //復原編輯狀態
	
	setTimeout(function(){	
	checkSentApply();            //載入異動案件時的判斷方法
	
	},50);

    });
	
$("#fm_search_list tr").on("click",function(){
	$(this).parent().children().removeClass("active");
	$(this).addClass("active");
	});

$("#detail_edit").on("click",function(){
	$(this).parent().hide();
	$(".edit_state").show();
	original_page = $("#basic_data").clone();
	$('input,textarea').prop('readonly', false).prop('disabled', false);
	$("#te_data_basic_file").show();
	$(".file_list_item_delete").show();
});

$("#detail_save").on("click",function(){
    $(".normal_state").show();
	$(".edit_state").hide();
	//送出資料並更新畫面資料(重新載入本筆異動)
	
});

$("#detail_cancel").on("click",function(){
    $(".normal_state").show();
	$(".edit_state").hide();
	//讀取原本資料
	$(".data_frame").empty().html(original_page);
	
});

$("#detail_delete").on("click",function(){
    if(confirm("是否刪除本筆異動所有資料?")){
	 $(".normal_state").show();
	$(".edit_state").hide();
	//刪除該筆異動所有資料
	}
   
});

$("#sent_apply").on("click",function(){
    if(confirm("是否送審本筆異動資料?")){
	 $(".normal_state").show();
	$(".edit_state").hide();
	//更改該筆異動狀態
	}
	
});



    </script>
	