<div class="content_row_data" id="basic_data_new">
	<!-- 新增異動的基本資料 -->
	<div>
		<div id="te_manage_tab2_step1" class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					流水代碼
				</div>
				<div id="te_data_basic_new_number" class="col-md-4 col-sm-6 col-6 sys_col2">
					異動事件建立後自動產生
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					建立日期
				</div>
				<div id="te_data_basic_new_createtime" class="col-md-4 col-sm-6 col-6 sys_col2">

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					用地機關
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
					<input id="te_data_basic_new_unit" class="form-control form-custom-select" type="text" placeholder="輸入用地機關" />
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					建立者
				</div>
				<div id="te_data_basic_new_createuser" class="col-md-4 col-sm-6 col-6 sys_col2">

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					異動類型
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
					<select id="te_type" class="form-select form-custom-select" data-csp-onchange="te_tab2_type_change();">
					   <option value="-1" selected>請選擇</option>
					   <option value="1">森林法第8條撥用</option>
					   <option value="2">增劃編原住民保留地</option>
					   <option value="3">專案計畫移出</option>
					</select>
					<select id="te_type_sub" class="form-select form-custom-select csp-style-12">
						<option value="-1" selected>請選擇</option>
						<option value="1">公共設施</option>
						<option value="2">國防</option>
						<option value="3">交通</option>
						<option value="4">水利</option>
						<option value="5">公用事業</option>
						<option value="6">國家公園</option>
						<option value="7">風景特定區</option>
					</select>
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					單位資訊
				</div>
				<div id="te_data_basic_new_createunit" class="col-md-4 col-sm-6 col-6 sys_col2">

				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					案由
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
					<textarea id="te_data_basic_new_note" type="text" class="form-control" rows="3" placeholder="輸入案由"></textarea>
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					附件
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
				   <input id="te_data_basic_new_file" type="file" class="form-control" multiple data-csp-onchange="FileListUpload();" accept=".zip,.doc,.docx,.odt,.pdf,.jpg,.png" />
				   <!-- 隱藏用上傳INPUT -->
				   <div id="te_data_basic_hidden_list" class="csp-style-12">
				   </div>
				   <div id="te_data_basic_file_list"></div>
				</div>
			</div>
			<div class="row">
				<div class="AllCenter">
					<button type="button" id="CreateBtn" class="btn btn-success search_submit custom_bt2" data-csp-onclick="te_manage_next();">建立異動</button>
					<!--<button type="button" id="NextBtn" class="btn btn-success search_submit custom_bt2 csp-style-12" data-csp-onclick="te_manage_next(true);">下一步</button>-->
				</div>
			</div>
		</div>
	</div>
	<!-- 選取異動的基本資料 -->
</div>
<script src="./js/csp-inline/views_2f_te_5f_manage_5f_tab2_5f_step1_1.js"></script>