<div class="content_row_data" id="basic_data_new">
	<div class="row_text">基本資料</div>
	<!-- 新增異動的基本資料 -->
	<div>
	<form id="te_data_basic_new">	
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_createuser" class="form-label"  style="width: 140px;">建立者</label>
	   </div>
	   <div id="te_data_basic_new_createuser"></div>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_createtime" class="form-label"  style="width: 140px;">建立時間</label>
	   </div>
	   <div id="te_data_basic_new_createtime"></div>

	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_new_deptart" class="form-label"  style="width: 140px;">所屬單位</label>
	   </div>
		<div id="te_data_basic_new_deptart"></div>

	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_new_title" class="form-label"  style="width: 140px;">標題</label>
	   </div>
	   <input id="te_data_basic_new_title" type="text" class="form-control" />
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_new_note" class="form-label"  style="width: 140px;">說明</label>
	   </div>
	   <textarea id="te_data_basic_new_note" type="text" class="form-control"rows="3"></textarea>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_new_file" class="form-label"  style="width: 140px;">附件</label>
	   </div>
	   <div style="width: 100%;">
	   <input id="te_data_basic_new_file" type="file" class="form-control" multiple />

	   </div>
	   </div>
	</form >	
	</div>
	<!-- 選取異動的基本資料 -->
</div>

<script>
    newApplyDetail();
</script>