<div class="content_row_data" id="basic_data_new">
	<!-- 新增異動的基本資料 -->
	<div>
		<div id="te_manage_tab2_step1" class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					流水代碼
				</div>
				<div id="te_data_basic_new_number" class="col-md-4 col-sm-6 col-6 sys_col2">
					異動事件建立後自動產生
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					建立日期
				</div>
				<div id="te_data_basic_new_createtime" class="col-md-4 col-sm-6 col-6 sys_col2">
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					用地機關
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
					<input id="te_data_basic_new_unit" class="form-control form-custom-select" type="text" placeholder="輸入用地機關" />
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					建立者
				</div>
				<div id="te_data_basic_new_createuser" class="col-md-4 col-sm-6 col-6 sys_col2">
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					異動類型
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
					<select id="te_type" class="form-select form-custom-select" onchange="te_tab2_type_change();">
					   <option value="-1" selected>請選擇</option>
					   <option value="1">森林法第8條撥用</option>
					   <option value="2">增劃編原住民保留地</option>
					   <option value="3">專案計畫移出</option>
					</select>
					<select id="te_type_sub" class="form-select form-custom-select" style="display: none;">
						<option value="-1" selected>請選擇</option>
						<option value="1">公共設施</option>
						<option value="2">國防</option>
						<option value="3">交通</option>
						<option value="4">水利</option>
						<option value="5">公用事業</option>
						<option value="6">國家公園</option>
						<option value="7">風景特定區</option>
					</select>
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					單位資訊
				</div>
				<div id="te_data_basic_new_createunit" class="col-md-4 col-sm-6 col-6 sys_col2">
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					案由
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
					<textarea id="te_data_basic_new_note" type="text" class="form-control" rows="3" placeholder="輸入案由"></textarea>
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col1">
					附件
				</div>
				<div class="col-md-4 col-sm-6 col-6 sys_col2">
				   <input id="te_data_basic_new_file" type="file" class="form-control" multiple onchange="FileListUpload();" accept=".zip,.doc,.docx,.odt,.pdf,.jpg,.png" />
				   <!-- 隱藏用上傳INPUT -->
				   <div id="te_data_basic_hidden_list" style="display: none;">
				   </div>
				   <div id="te_data_basic_file_list"></div>
				</div>
			</div>
			<div class="row">
				<div class="AllCenter">
					<button type="button" id="CreateBtn" class="btn btn-success search_submit custom_bt2" onclick="te_manage_next();">建立異動</button>
					<!--<button type="button" id="NextBtn" class="btn btn-success search_submit custom_bt2" style="display: none;" onclick="te_manage_next(true);">下一步</button>-->
				</div>
			</div>
		</div>
	</div>
	<!-- 選取異動的基本資料 -->
</div>
<script>
    newApplyDetail();
	function te_manage_next(notinsert) {
		if (!notinsert) {
			if ($("#te_data_basic_new_note").val() == "") {
				alert("請輸入案由.");
				return;
			}
			if ($("#te_data_basic_new_unit").val() == "") {
				alert("請輸入用地機關.");
				return;
			}
			if ($("#te_type").val() == "-1") {
				alert("請選擇異動類型.");
				return;
			}
			if ($("#te_type").val() == "1" && $("#te_type_sub").val() == "-1") {
				alert("請選擇異動細項.");
				return;
			}
			InsertNewChangeEvent(); //新增異動資料庫用
		}
		else
		{
			if ($("#te_data_basic_new_note").val() == "") {
				alert("請輸入案由.");
				return;
			}
			if ($("#te_data_basic_new_unit").val() == "") {
				alert("請輸入用地機關.");
				return;
			}
			if ($("#te_type").val() == "-1") {
				alert("請選擇異動類型.");
				return;
			}
			if ($("#te_type").val() == "1" && $("#te_type_sub").val() == "-1") {
				alert("請選擇異動細項.");
				return;
			}
			
			UpdateNewChangeEvent();
		}
		
		te_manage_tab2.tabtype = "add";
		create_step(2, 2);
		$(".tab2").parent().children().removeClass("active");
		$(".tab2").addClass("active");
	}
	function te_manage_next2() {
		var step = $("#CreateBtn").is(":visible");
		
		if (step) {
			// te_manage_next();
		}
		else {
			te_manage_next(true);
		}
	}
	var filelist = new Array();
	function FileListUpload() {
		var input = document.getElementById("te_data_basic_new_file");
		var output = document.getElementById("te_data_basic_file_list");

		var clone = $("#te_data_basic_new_file").clone();
		clone.attr("class", "hiddenupload");
		$("#te_data_basic_hidden_list").append(clone);
		
		var HTML = "<table style=\"width: 500px;\">";
		for (var i = 0; i < input.files.length; i++) {
			filelist.push(input.files.item(i));
		}
		
		for (var i = 0; i < filelist.length; i++) {
			HTML += "<tr><td>" + filelist[i].name + "</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class=\"btn btn-danger\" onclick=UploadDeleteThis(" + i + ")>刪除</button></td></tr>";
		}

		HTML += "</table>";
		output.innerHTML = HTML;
		
		$("#te_data_basic_new_file").replaceWith($("#te_data_basic_new_file").val('').clone(true));
	}
	function UploadDeleteThis(idx) {
		var output = document.getElementById("te_data_basic_file_list");
		filelist.splice(idx, 1);
		var HTML = "<table style=\"width: 500px;\">";
		
		for (var i = 0; i < filelist.length; i++) {
			HTML += "<tr><td>" + filelist[i].name + "</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class=\"btn btn-danger\" onclick=UploadDeleteThis(" + i + ")>刪除</button></td></tr>";
		}
		output.innerHTML = HTML;
		
		var hiddenlist = document.getElementsByClassName("hiddenupload");
		for (var i = 0; i < hiddenlist.length; i++) {
			if (i == idx) hiddenlist[i].remove();
		}
	}
	$('#fdate,#sdate').datepicker({
		changeMonth: true,
		changeYear: true,
		dateFormat: 'yy/mm/dd',
		beforeShow: function (e, t) {
			if ($(this).attr('maxDate')) {
				var dateItem = $('#' + $(this).attr('maxDate'));
				if (dateItem.val() !== "") {
					$(this).datepicker('option', 'maxDate', dateItem.val());
				}
			}
			if ($(this).attr('minDate')) {
				var dateItem = $('#' + $(this).attr('minDate'));
				if (dateItem.val() !== "") {
					$(this).datepicker('option', 'minDate', dateItem.val());
				}
			}
		}
	});
</script>