<!-- 頁面區 -->
<div class="manage_page">
	<div class="search_div">
		<div class="content_row_search csp-style-68">
			<div class="row_text">查詢條件</div>
			<div class="search_type te_search_tab4">
				<ul class="nav nav-tabs">
					<li class="nav-item6 tab3">
						<span class="nav-link active">案件資訊</span>
					</li>
					<li class="nav-item6 tab1">
						<span class="nav-link">地籍資訊</span>
					</li>
					<li class="nav-item6 tab2">
						<span class="nav-link">事業區資訊</span>
					</li>
				</ul>
			</div>
			<div class="csp-style-69">
				<div id="te_search_tab4_3">
					<div class="new_ver_flex">
						<div>
							<label for="search_state3" class="form-label csp-style-43">狀態</label>
						</div>
						<select id="search_state3" class="form-select"  >
							<option value="-1" selected>不指定</option>
							<option value="0">未送出</option>
							<option value="1">未確認</option>
							<option value="2">退回修正</option>
							<option value="3">已通過</option>
							<option value="4">取消異動</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_uid3" class="form-label csp-style-43">識別碼</label>
						</div>
						<input class="form-control " id="search_uid3" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_unit3" class="form-label csp-style-43">單位資訊</label>
						</div>
						<select id="search_unit3" class="form-select">
							<option selected value="-1">請選擇</option>
							<option value="00">林業保育署</option>
							<option value="01">宜蘭分署</option>
							<option value="02">新竹分署</option>
							<option value="03">臺中分署</option>
							<option value="04">南投分署</option>
							<option value="05">嘉義分署</option>
							<option value="06">屏東分署</option>
							<option value="07">臺東分署</option>
							<option value="08">花蓮分署</option>
							<option value="0A">林鐵處</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_start3" class="form-label csp-style-43">起始日期</label>
						</div>
						<input id="search_start3" class="form-control" type="text" placeholder="yyyy/mm/dd" autocomplete="off" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_end3" class="form-label csp-style-43">結束日期</label>
						</div>
						<input id="search_end3" class="form-control" type="text" placeholder="yyyy/mm/dd" autocomplete="off" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_land3" class="form-label csp-style-43">用地機關</label>
						</div>
						<input class="form-control " id="search_land3" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_changetype3" class="form-label csp-style-43">異動類型</label>
						</div>
						<select id="search_changetype3" class="form-select">
							<option selected value="-1">請選擇</option>
							<option value="1">森林法第8條撥用</option>
							<option value="2">增劃編原住民保留地</option>
							<option value="3">專案計畫移出</option>
							<option value="4">事業區地籍釐整</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_changetypesub3" class="form-label csp-style-43">異動細目</label>
						</div>
						<select id="search_changetypesub3" class="form-select">
							<option selected value="-1">請選擇</option>
							<option value="1">公共設施</option>
							<option value="2">國防</option>
							<option value="3">交通</option>
							<option value="4">水利</option>
							<option value="5">公用事業</option>
							<option value="6">國家公園</option>
						</select>
					</div>
					<div class="new_ver csp-style-3">
						<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="te_search_list_gosearch_3();">查詢</button>
						<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="te_search_list_reset_3();">重置</button>
					</div>
				</div>
				<div id="te_search_tab4_1" class="csp-style-12">
					<div class="new_ver_flex">
						<div>
							<label for="search_year" class="form-label csp-style-43">年度</label>
						</div>
						<select id="search_year" class="form-select">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_county" class="form-label csp-style-43">縣市</label>
						</div>
						<select id="search_county" class="form-select" data-csp-onchange="te_manage_tab4_get_TownList();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_town" class="form-label csp-style-43">鄉鎮</label>
						</div>
						<select id="search_town" class="form-select" data-csp-onchange="te_manage_tab4_get_LandList();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_sec" class="form-label csp-style-43">地段</label>
						</div>
						<select id="search_sec" class="form-select">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_land_no" class="form-label csp-style-43">地號</label>
						</div>
						<div class="search_land_no">
							<input class="form-control " id="search_number1" /><span class="csp-style-4">-</span>
							<input class="form-control " id="search_number2" />
						</div>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_land_code" class="form-label csp-style-43">地籍編碼</label>
						</div>
						<input class="form-control " id="search_land_code" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_dep" class="form-label csp-style-43">用地機關</label>
						</div>
						<input class="form-control " id="search_dep" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_changetype" class="form-label csp-style-43">異動類型</label>
						</div>
						<select id="search_changetype" class="form-select">
							<option selected value="-1">請選擇</option>
							<option value="1">森林法第8條撥用</option>
							<option value="2">增劃編原住民保留地</option>
							<option value="3">專案計畫移出</option>
							<option value="4">事業區地籍釐整</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_changetypesub" class="form-label csp-style-43">異動細目</label>
						</div>
						<select id="search_changetypesub" class="form-select">
							<option selected value="-1">請選擇</option>
							<option value="1">公共設施</option>
							<option value="2">國防</option>
							<option value="3">交通</option>
							<option value="4">水利</option>
							<option value="5">公用事業</option>
							<option value="6">國家公園</option>
						</select>
					</div>
					<div class="new_ver csp-style-3">
						<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="te_search_list_gosearch_1();">查詢</button>
						<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="te_search_list_reset_1();">重置</button>
					</div>
				</div>
				<div id="te_search_tab4_2" class="csp-style-12">
					<div class="new_ver_flex">
						<div>
							<label for="search_year2" class="form-label csp-style-43">年度</label>
						</div>
						<select id="search_year2" class="form-select">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_dist" class="form-label csp-style-43">管理單位</label>
						</div>
						<select id="search_dist" class="form-select" data-csp-onchange="te_manage_tab4_dist_change();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_wkng" class="form-label csp-style-43">事業區</label>
						</div>
						<select id="search_wkng" class="form-select" data-csp-onchange="te_manage_tab4_wkng_change();">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_cmpt" class="form-label csp-style-43">林班</label>
						</div>
						<select id="search_cmpt" class="form-select">
							<option selected value="-1">請選擇</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_state" class="form-label csp-style-43">狀態</label>
						</div>
						<select id="search_state" class="form-select">
							<option selected value="-1">不指定</option>
							<option value="1">待異動</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_dep2" class="form-label csp-style-43">用地機關</label>
						</div>
						<input class="form-control " id="search_dep2" />
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_changetype2" class="form-label csp-style-43">異動類型</label>
						</div>
						<select id="search_changetype2" class="form-select">
							<option selected value="-1">請選擇</option>
							<option value="1">森林法第8條撥用</option>
							<option value="2">增劃編原住民保留地</option>
							<option value="3">專案計畫移出</option>
							<option value="4">事業區地籍釐整</option>
						</select>
					</div>
					<div class="new_ver_flex">
						<div>
							<label for="search_changetypesub2" class="form-label csp-style-43">異動細目</label>
						</div>
						<select id="search_changetypesub2" class="form-select">
							<option selected value="-1">請選擇</option>
							<option value="1">公共設施</option>
							<option value="2">國防</option>
							<option value="3">交通</option>
							<option value="4">水利</option>
							<option value="5">公用事業</option>
							<option value="6">國家公園</option>
							<option value="7">風景特定區</option>
						</select>
					</div>
					<div class="new_ver csp-style-3">
						<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="te_search_list_gosearch_2();">查詢</button>
						<button type="button" class="btn btn-warning search_submit custom_bt2" data-csp-onclick="te_search_list_reset_2();">重置</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="query_1" class="detail_data main_scroll csp-style-12">

	</div>
	<div id="query_2" class="detail_data main_scroll csp-style-12">
		<!-- <審核資料> -->
		<div class="data_frame">
		</div>
		<!-- <審核資料> -->
		<!-- <圖資資料> -->
		<div class="list_frame">
		</div>
		<!-- <圖資資料> -->
		<div class="content_row_data manage_bt_area AllCenter csp-style-162">
			<div class="manage_bt">
				<button type="button" class="btn btn-warning search_submit custom_bt2" id="cancel_apply" data-csp-onclick="te_searchlist_hide();">返回</button>
			</div>
		</div>
	</div>
	<div id="query_3" class="detail_data main_scroll csp-style-12">

	</div>
</div>
<!-- 頁面區 -->
<script src="./js/csp-inline/views_2f_te_5f_manage_5f_tab4_1.js"></script>
