<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 資料庫連線字串 -->
    <add key="ConnectionString" value="Data Source=192.168.3.201;Initial Catalog=FCDB; uid=FCDB_app;pwd=12949916;Application Name=FcmConnection;" />
    <!-- 批次處理筆數 -->
    <add key="BatchCount" value="100" />
    <!-- 佔比大於等於 value 才處理資料, 此設定值若不存在 : Ratio > 0, 此設定值若存在 : Ratio >= value -->
    <!-- 值的範例 : "" 或 "0.02" -->
    <add key="KeepGreater" value="" />
  </appSettings>
</configuration>