<div class="content_row_data" id="basic_data">
	<div class="row_text">基本資料</div>
	<!-- 選取異動的基本資料 -->
	<div id="te_data_basic1">
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_state" class="form-label"  style="width: 140px;">狀態</label>
	   </div>
	   <div id="te_data_basic_state" class=""></div>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_uid" class="form-label"  style="width: 140px;">識別碼</label>
	   </div>
	   <div id="te_data_basic_uid"></div>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_createuser" class="form-label"  style="width: 140px;">建立者</label>
	   </div>
		<div id="te_data_basic_createuser"></div>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_createtime" class="form-label"  style="width: 140px;">建立時間</label>
	   </div>
		<div id="te_data_basic_createtime"></div>

	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_deptart" class="form-label"  style="width: 140px;">所屬單位</label>
	   </div>
		<div id="te_data_basic_deptart"></div>

	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_title" class="form-label"  style="width: 140px;">標題</label>
	   </div>
	   <input id="te_data_basic_title" type="text" class="form-control" readonly />
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_note" class="form-label"  style="width: 140px;">說明</label>
	   </div>
	   <textarea id="te_data_basic_note" type="text" class="form-control"rows="3" readonly></textarea>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_note" class="form-label"  style="width: 140px;">附件</label>
	   </div>
	<div style="width: 100%;">
	   <input id="te_data_basic_file" type="file" class="form-control" disabled multiple onchange="FileListUpload()" />
	   <div class="file_list" id="file_list">
	   
	   </div>
	   <div class="file_list" id="upload_file_list">
	   
	   </div>
	   <!-- 隱藏用上傳INPUT -->
	   <div id="upload_file_hide_list" style="display: none;">
	   </div>
	</div>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_updateuser" class="form-label"  style="width: 140px;">最後編輯者</label>
	   </div>
		<div id="te_data_basic_updateuser">測試者1</div>
	</div>
	
	<div class="new_ver_flex">
	   <div>
	   <label for="te_data_basic_updatetime" class="form-label"  style="width: 140px;">最後編輯時間</label>
	   </div>
		<div id="te_data_basic_updatetime">2021/05/10 22:00</div>

	</div>	
	</div>
	<!-- 選取異動的基本資料 -->
</div>