<div class="fc_data_table" id="fc_data_table">
<div style="height:calc(42vh - 155px);" class="main_scroll_mini main_scroll_mini2">
	<table class="table_c" style="margin-bottom:0px;word-break: keep-all;">
	<thead class="thead_fix">
	<tr>
		<th width="4.5%">縣市</th>
		<th width="4.5%">鄉鎮</th>
		<th width="12%">地段</th>
		<th width="6%">地號</th>				
		<th width="6.5%">登記面積</th>		
		<th width="6.5%">登記日期</th>
		<th width="6.5%">使用分區</th>
		<th width="9%">使用分類</th>		
		<th width="4%">權屬</th>
		<th width="11%">管理單位</th>
		<th width="4%">比例</th>
		<th width="11%">地籍編碼</th>
		<th width="5%">API</th>		
	</tr>
	</thead>
	<tbody id = "fi_fc_list1" class="ztbody" >
	<!-- //塞入地籍關聯列表 -->
	
	
	</tbody>
	</table>
</div>

</div>