<div class="fc_data_table" id="fc_data_table">
<div style="height:calc(42vh - 150px);" class="main_scroll_mini_4">
	<table class="table" style="margin-bottom:0px;word-break: keep-all;">
	<thead class="thead_fix">
	<tr>
		<th  width="4%">序號</th>
		<th width="11%">地籍編碼</th><!-- LAND_CODE -->
		<th width="4.5%">縣市</th>
		<th width="4.5%">鄉鎮</th>
		<th width="9%">地段</th><!-- SC_NO -->
		<th width="4%">母號</th><!-- PM_NO -->
		<th width="4%">子號</th><!-- PC_NO -->
		<th width="6.5%">使用分區</th><!-- ZONING -->
		<th width="9%">使用類別</th><!-- LC_CLASS -->
		<th width="6.5%">登記面積</th><!-- REG_AREA -->
		<th width="7.5%">更新時間</th><!-- BUILDDATE -->
		
		<th width="3.5%">權別</th>
		<th width="12%">持有單位</th>
		<th width="4%">分子</th>
		<th width="4%">分母</th>
		
		<th  width="5%">API</th>
		
	</tr>
	</thead>
	<tbody id = "fi_fc_list1" >
	<!-- //塞入地籍關聯列表 -->
	
	
	</tbody>
	</table>
</div>

</div>