<div class="content_row_data csp-style-91" id="basic_data">
	<div class="row_text">地籍圖資</div>
	<div class="buttonzone">
		<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="te_export_assSHP();">匯出範圍</button>
		<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="te_export_assEXCEL();">匯出清冊</button>
	</div>
	<div class="search_type te_tab_review">
		<ul class="nav nav-tabs">
			<li class="nav-item5 tab1 csp-style-157">
				<span id="review_1" class="nav-link active">事業區內地籍清單(0筆)</span>
			</li>
			<li class="nav-item5 tab2 csp-style-157">
				<span id="review_2" class="nav-link">非事業區內地籍清單(0筆)</span>
			</li>
		</ul>
	</div>
	<div class="row_table_zone csp-style-158">
		<div id="te_inarea_table" class="main_scroll_mini_4 csp-style-156">
			<table id="zone_inarea" class="table csp-style-57">
				<thead class="thead_fix">
					<tr>
						<th>序號</th>
						<th>縣市</th>
						<th>鄉鎮市區</th>
						<th>地段</th>
						<th>地號</th>
						<th>地籍編碼</th>
						<th>面積</th>
						<th>管理單位</th>
						<th>事業區</th>
						<th>林班</th>
						<th>解編方式</th>
					</tr>
				</thead>
				<tbody id="te_inarea_body" class="ztbody">
				</tbody>
			</table>
		</div>
		<div id="te_notinarea_table" class="main_scroll_mini_4 csp-style-159">
			<table class="table csp-style-57">
				<thead class="thead_fix">
					<tr>
						<th>序號</th>
						<th>縣市</th>
						<th>鄉鎮市區</th>
						<th>地段</th>
						<th>地號</th>
						<th>地籍編碼</th>
						<th>面積</th>
					</tr>
				</thead>
				<tbody id="te_notinarea_body" class="ztbody">
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="csp-style-131">
	<div class="content_row_data list_height_map csp-style-34">
		<div class="row_text">空間位置</div>
		<!-- //塞入圖資空間資料 -->
		<div id="mmaplist" class="csp-style-134"></div>
	</div>
</div>
<script src="./js/csp-inline/views_2f_temp_2f_list_5f_data_5f_temp_1.js"></script>
