<div class="csp-style-131">
<div class="content_row_47 list_height_map">
	<div class="row_text">地籍異動列表</div>
	<div class="main_scroll_mini csp-style-160">
	<table class="table csp-style-132">
	<thead class="thead_fix">
	<tr>
		<th  width="8%">序號</th>
		<th width="11%">縣市</th>
		<th width="25%">地段</th>
		<th width="18%">地號</th>
		<th width="14%">異動類型</th>
		<th width="14%">核准日期</th>
		<th  width="10%">管理</th>
	</tr>
	</thead>

	<tbody id = "list_table" >
	<!-- //塞入異動圖資列表 -->
	  <tr>
	    <td>1</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0000</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	   <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	     <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	     <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	     <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	     <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	     <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	     <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>

	     <tr>
	    <td>2</td>
		<td>新竹縣</td>
		<td>五峰段一小段</td>
		<td>1200-0001</td>
		<td>產權移出</td>
		<td>2021/05/10</td>
		<td>
		<button class="btn btn-danger">刪除</button>
		</td>
	  </tr>
	</tbody>
	</table>
  </div>
</div>

<div class="content_row_47 list_height_map">
	<div class="row_text">空間位置</div>
	<!-- //塞入圖資空間資料 -->
    <div id="mmaplist" class="csp-style-134"></div>
</div>
</div>
<script src="./js/csp-inline/views_2f_temp_2f_te_5f_list_5f_data_5f_temp_1.js"></script>
