<div class="content_row_data csp-style-68" id="basic_data">
	<div class="row_text">查詢結果</div>
	<button type="button" class="btn btn-success search_submit custom_bt2" data-csp-onclick="te_searchlist_export();">匯出</button>
	<div id="sys_user_page">
		<div class="main_scroll_mini_4 row_table_zone csp-style-70">
			<table id="search_page" class="csp-style-71">
				<thead>
					<tr>
						<td>序號</td>
						<td>年度</td>
						<td>用地機關</td>
						<td>異動類型</td>
						<td>農委會同意函文號</td>
						<td>林務局同意撥用函文號</td>
						<td>縣市</td>
						<td>鄉鎮</td>
						<td>地段</td>
						<td>地號</td>
						<td>地籍編碼</td>
						<td>面積</td>
						<td>管理單位</td>
						<td>事業區</td>
						<td>林班</td>
					</tr>
				</thead>
				<tbody id="te_search_result" class="ztbody">

				</tbody>
			</table>
		</div>
	</div>
</div>
